/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_classes    -> style declarations for specific classes.
_grid       -> style declarations specific to the grid.
*/

/*
_element
*/
svg {display: block; margin: 0 auto;}

/*
_classes
*/
svg:focus {outline: none;}  /* Remove the outline from the svg element when it gets focus. */
svg .gameOver {alignment-baseline: middle; fill: white; text-anchor: middle;}  /* Style for the game over text. */
svg .retry {fill: white;}  /* The retry button. */
svg .retryText {alignment-baseline: middle; font-weight: bold; pointer-events: none; text-anchor: middle;}  /* Style for the retry text. */


/*
_grid
*/
svg .tile {fill: black; stroke: white; stroke-width: 1;}  /* The borders of the grid tiles. */
svg .food {fill: #39FF14;}  /* The tile containing snake food. */
svg .snake {fill: #EA594D;}  /* The tiles containing the snake. */
svg .head {fill: #FFA500;}  /* The tile containing the snake's head. */