/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_ids		-> style declarations for specific IDs.
_classes    -> style declarations for specific classes.
_lines      -> style declarations for the lines.
*/

/*
_element
*/

/*
_ids
*/
#underground {background: white; border: thin black solid;}  /* Style for the SVG containing the underground map. */

/*
_classes
*/
.sign {cursor: default; font-family: "Gill Sans MT", Tahoma, Arial, sans-serif;}

.thames {fill: #C5E9FA; fill-rule: evenodd; stroke: none;}

.zone {fill: #E6E7E7; fill-rule: evenodd; stroke: none;}  /* Style for the even numbered zones. */
.zoneNumber {font-size: 22px; font-weight: bold; text-anchor: middle;}  /* Style for the zone numbers. */
.evenZone {fill: white; stroke: none;}  /* Color for the zone number in even numbered zones. */
.oddZone {fill: #E6E7E7; stroke: none;}  /* Color for the zone number in odd numbered zones. */
.specialFare {font-size: 10.5px; font-weight: bold; text-anchor: middle;}  /* Style for the special fare text. */

/*
_lines
*/
.line {stroke-width: 2.4;}
.bakerloo {fill: none; stroke: rgb(137,78,36);}
.central {fill: none; stroke: rgb(220,36,31);}
.circle {fill: none; stroke: rgb(255,206,0);}
.district {fill: none; stroke: rgb(0,114,41);}
.hammersmith {fill: none; stroke: rgb(215,153,175);}
.jubilee {fill: none; stroke: rgb(134,143,152);}
.metropolitan {fill: none; stroke: rgb(117,16,86);}
.northern {fill: none; stroke: rgb(0,0,0);}
.piccadilly {fill: none; stroke: rgb(0,25,168);}
.victoria {fill: none; stroke: rgb(0,160,226);}
.waterloo {fill: none; stroke: rgb(118,208,189);}