/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_header     -> style declarations for the <header> tag
_footer     -> style declarations for the <footer> tag
*/

/* Reset all padding and margins. */
* {padding: 0; margin: 0;}

/*
_element
*/
html {min-wdith: 1040px;}
body {background-color: #F8F8F8; color: #222222; font-family: "Segoe UI", sans-serif; margin: 4em auto 1em auto; width: 960px;}
p {margin: 1em 0}
a {color: #EA594D}
a:not(:hover) {text-decoration: none;}

/*
_header
*/
header {margin-bottom: 2em;}
header .pageTitle {font-size: 60px; font-weight: 300; letter-spacing: -1px;}

/*
_footer
*/
footer {margin-top: 4em; word-spacing: 30px;}
footer a {font-style: oblique;}