/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_classes    -> style declarations for specific classes.
*/

/*
_element
*/
svg {background: black; display: block; margin: 0 auto;}  /* Style all SVG elements, and make them centered. */
svg text {fill: white; font-size: 15px; stroke: none;}  /* Style definitions for all text elements in and SVG element. */

/*
_classes
*/
.backing {opacity: 0; stroke: none;}  /* The backing rectangle should be invisible. */
.checkboxContainer {cursor: pointer;}  /* Keep the cursor as a pointing hand the whole time that it's over the checkbox. */
.checkbox {fill: none; stroke: white;}  /* Only stroke the border of the checkboxes. */
.checkmark {stroke-width: 3;}  /* Define the stroke-width of the check mark used to show selection. */
.outline {fill: none; stroke: #585858; stroke-width: 2;}  /* Style for the light border rectangle. */