{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='checkboxes_and_radio_buttons/checkboxes_and_radio_buttons.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='checkboxes_and_radio_buttons/checkboxes_and_radio_buttons.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">SVG Checkboxes and Radio Buttons</h1>
<span class="date">November 13, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<br><br>
<p>
	Mention the .35em working with the text-anchor: start; enables you to center vertically without tweaking the baseline, so zooming shouldn't be
	affected (also not all browsers do baseline stuff correctly/completely).
</p>
<p>
        labes are text wrapped automatically - provide the max width allowed and the text is wrapped to tha width to go over multiple lines
            the height between rows is then determined based onthe height of the wrapped text
        the distribution of labels works like
            distributing over rows, then the width of the whole box/tex combo is fixed, thenumber fittable on a row is calcualted, the heigt between
                rows is determined based on the max height of the box/label combos
            distributing over columns, then the 
</p>
<br><br>
<p>Horizontal checkboxes with ticks.</p>
<br><br>
<svg id="tickbox" />
<br><br>
<p>Horizontal checkboxes with crosses.</p>
<p>Mention the need to use two lines as the discontinuity messes with the animation via stroke-dasharray (causes both bits to animate at the same time if you do it in the normal way).</p>
<br><br>
<svg id="crossbox" />
<br><br>
<p>Vertical checkboxes with scribbles.</p>
<p>Don't line up that nicely as you need to be able to assign a fixed height to get them to line up easily, the fixed height here is the largest height.</p>
<p>For vertical choices its best to stick with manual positioning or a single column (like the radio buttons below) where there is no need for a fixed height.</p>
<br><br>
<svg id="scribblebox" />
<br><br>
<p>Fancy radio buttons (both horizontal and vertical).</p>
<p>The circles are currently all set to assume the same width for each label. This can be changed easily to fit smaller widths (it would be more visible with larger widths allowed for each label)</p>
<br><br>
<svg id="fancyradio" />
<br><br>
<svg id="fancyradiovert" />
{% endblock %}