{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='misc_list_style/misc_list_style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='misc_list_style/misc_list_style.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Styling HTML Lists</h1>
<span class="date">September 25, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<div class="horizontal navigation tab upwards">
    <ul>
        <li data-navLink="tabs">Tabs</li>
        <li data-navLink="buttons">Buttons</li>
        <li data-navLink="standard">Standard</li>
        <li data-navLink="thematic">Thematic</li>
        <li data-navLink="inline">Inline</li>
        <li data-navLink="breadcrumb">Breadcrumb</li>
    </ul>
</div>
<div id="tabs" class="navigation-panel">
    <p>Should show differences (tabs of fixed size with text wrap, tabs that size to text with no wrap, tabs that size to text but have min and max size)</p>
    <p>Lists with tabs peeking above and hanging below</p>
    <p>4 Lists next to each other (each one taking up 25% of screen): 1) tabs on left horiozontal text 2) tabs on left vertical text 3) tabs right horiz text 4) tabs right vert text</p>
</div>
<div id="buttons" class="navigation-panel">
	<div class="centered">
		<h2>Buttons that all expand to fit the longest text</h2><br>
		<div id="button-set-1" class="border-shadow-theme-1 button horizontal">
			<b>Temporarily Depressed Buttons</b>
			<ul>
				<li data-color="#000000">Black</li>
				<li data-color="#39FF14">Some Sort Of Green</li>
				<li data-color="#AE2DE3">A Shade Of Purple</li>
				<li data-color="#FFFFFF">White</li>
			</ul>
		</div>
		<br><br><b>Buttons That Stay Depressed</b><br>
		<div id="button-set-2" class="glossy-theme-1 button">
			<ul>
				<li class="rainbow">Rainbow</li>
				<li class="plum">Plum</li>
				<li class="hypnotise">Hypnotise</li>
				<li class="setting-sun">Setting Sun</li>
			</ul>
		</div>
		<div id="button-set-3" class="glossy-theme-2 button">
			<ul>
				<li>We</li>
				<li>All</li>
				<li>Depress</li>
				<li>Independently</li>
			</ul>
		</div>
	</div>
	<br>
	<p>For each of horizontal and vertical need to:</p>
	<ul>
		<li>Fixed width all equal height determined by highest buttons</li>
		<li>Fixed width unequal fitted heights</li>
		<li>fixed height all equal width determined by widest button</li>
		<li>fixed height unequal fitted widths</li>
		<li>Set of buttons is given max width and
			<ul>
				<li>Buttons all have same height</li>
				<li>buttons each have fitted height</li>
			</ul>
		</li>
    </ul>
	<p>image buttons</p>
	<p>image and text buttons</p>
</div>
<div id="standard" class="navigation-panel">
	<div class="centered">
		<h2>Context Menus</h2>
		<p>Windows style (including breaks between sections)</p>
		<p>More stylised ones to fit themes</p>
		<p>Hoizontal and vertical text</p>
		<p>Ones with text wrapping, ones that cut off long text (i.e. cells in menu are fixed size and no wrapping), ones that extend length to max text field length</p>
	</div>
</div>
<div id="thematic" class="navigation-panel">
    <p>One that looks like the sticky labels you get to mark places in documents (thin lng ones with color at top and long white translucent body</p>
    <p>Sign Here type ones</p>
</div>
<div id="inline" class="navigation-panel">
    <p>Lists inlined in text as simple text and as links</p>
</div>
<div id="breadcrumb" class="navigation-panel">
    <p>Like :   Home >> Products >> Computers</p>
</div>
{% endblock %}