/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_classes    -> style declarations for specific classes.
_histo      -> style declarations for the histogram slider.
_map        -> style declarations for the map.
*/

/*
_element
*/
body {background-color: black;}
svg {left: 0; outline: thin solid white; position: absolute; top: 0;}

/*
_classes
*/
.backingRect {fill: #585858; stroke: none;}

/*
_histo
*/
.bar  rect {fill: white; stroke: none;}

/*
_map
*/