/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_classes    -> style declarations for specific classes and ids.
*/

/*
_element
*/
svg {border: thin black solid; cursor: default; display: inline; margin: 0 10px;}  /* Style the SVG elements. */

/*
_classes
*/
div .centered {margin: 0 auto; width: 500px;}  /* Setup the div to center its elements horizontally. */

/* Black on white bull. */
.blackOnWhite {background-color: white;}  /* Set the background. */
.blackOnWhite text {fill: black; stroke: none;}  /* Color GitHub and home text. */
.blackOnWhite .bull {fill: none; stroke: black; stroke-width: 2;}  /* Style the bull. */
.blackOnWhite .github {cursor: pointer; font-size: 25px; text-anchor: end;}  /* Style the GitHub text. */
.blackOnWhite .home {alignment-baseline: middle; cursor: pointer; font-size: 30px; text-anchor: middle;}  /* Style the home text. */

/* White on black bull. */
.whiteOnBlack {background-color: black;}  /* Set the background. */
.whiteOnBlack text {fill: #AE2DE3; stroke: none;}  /* Color GitHub and home text. */
.whiteOnBlack .bull {fill: none; stroke: white; stroke-width: 2;}  /* Style the bull. */
.whiteOnBlack .github {cursor: pointer; font-size: 25px; text-anchor: end;}  /* Style the GitHub text. */
.whiteOnBlack .home {alignment-baseline: middle; cursor: pointer; font-size: 30px; text-anchor: middle;}  /* Style the home text. */