{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bouncing_balls/bouncing_balls.css') }}">
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Bouncing Balls</h1>
<span class="date">September 9, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<p>TODO:</p>
<p>Click on ball, ball moves to right column and pile up so that they overlap, overlap is determined as max height of stack / # balls</p>
<script type="text/javascript" src="{{ url_for('static', filename='bouncing_balls/bouncing_balls.js') }}"></script>
<br><br><br><br>
<p>Text in the SVG element ('Speed' and tick marks) made crisp by setting stroke-width to 0.</p>
{% endblock %}