/*
Contents:
_classes    -> style declarations for specific classes.
*/


/*
_classes
*/
svg .ball {stroke: none;}
svg .ballBoundingSquare {fill-opacity : 0; stroke : black; stroke-width : 1;}
svg .bucket {fill-opacity : 0; stroke : black; stroke-width : 3;}
svg .domain {fill : none; stroke : black; stroke-linecap : round; stroke-width : 13;}
svg .halo {fill : none; stroke : #FF008C; stroke-linecap : round; stroke-width : 7;}
svg .handle {fill : white; stroke : black; stroke-width : 2}
svg .sliderBox {stroke : #3A3A3B;}
svg .xAxis {stroke: none;}  /* Set stroke width to 0 in order to make the text crisper. */