{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scalable_paths/scalable_paths.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scalable_paths/scalable_paths.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Scalable SVG Paths</h1>
<span class="date">-- --, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<p>Sometimes its fine to define an SVG path as</p>
<pre class="code"><code class="html"><<span class="element">path</span> <span class="attribute">d</span>=<span class="value">"..."</span>></code></pre>
<p>where the path coordinates are known beforehand and can be supplied.</p>
<p>For example, if we were to define a few paths as follows</p>
<pre class="code"><code class="html"><<span class="element">path</span> <span class="attribute">class</span>=<span class="value">"domain"</span> <span class="attribute">d</span>=<span class="value">"M20,20L50,138L170,90L300,240L550,300"</span> <span class="attribute">style</span>=<span class="value">"stroke: red;"</span>>
<<span class="element">path</span> <span class="attribute">class</span>=<span class="value">"domain"</span> <span class="attribute">d</span>=<span class="value">"M50,400L125,375L450,225L550,100L350,50L375,175"</span> <span class="attribute">style</span>=<span class="value">"stroke: blue;"</span>>
<<span class="element">path</span> <span class="attribute">class</span>=<span class="value">"domain"</span> <span class="attribute">d</span>=<span class="value">"M350,375L50,300L200,50L250,225L450,250"</span> <span class="attribute">style</span>=<span class="value">"stroke: green;"</span>></code></pre>
<p>we would get the following image.</p>
<svg id="static-path-demo" />
<br>
<svg id="static-sliders" />
<p>
	However, if you play with the sliders, you can see what would happen to the visibility of the paths as the size of the SVG element changes. 
	For static pages, changing the size of the element may be unnecessary, but if you want to dynamically resize your page (including the SVG) 
	when a user changes the size of their browser window (or to accommodate smaller screen sizes), then you'll need to scale both the SVG element 
	and its contents.
</p>
{% endblock %}