{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scalable_paths/scalable_paths.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scalable_paths/scalable_paths.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Scaling SVG Elements and Their Contents</h1>
<span class="date">October 30, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<p>Often its fine to define an SVG path as</p>
<pre class="code"><code class="html"><<span class="element">svg</span> <span class="attribute">width</span>=<span class="value">"..."</span> <span class="attribute">height</span>=<span class="value">"..."</span>>
    <<span class="element">path</span> <span class="attribute">d</span>=<span class="value">"..."</span>>
&lt;/<span class="element">svg</span>></code></pre>
<p>For example, if we were to define a few paths as follows</p>
<pre class="code"><code class="html"><<span class="element">svg</span> <span class="attribute">width</span>=<span class="value">"600"</span> <span class="attribute">height</span>=<span class="value">"450"</span>>
    <<span class="element">path</span> <span class="attribute">d</span>=<span class="value">"M20,20L50,138L170,90L300,240L550,300"</span> <span class="attribute">style</span>=<span class="value">"stroke: red;"</span>>
    <<span class="element">path</span> <span class="attribute">d</span>=<span class="value">"M50,400L125,375L450,225L550,100L350,50L375,175"</span> <span class="attribute">style</span>=<span class="value">"stroke: blue;"</span>>
    <<span class="element">path</span> <span class="attribute">d</span>=<span class="value">"M350,375L50,300L200,50L250,225L450,250"</span> <span class="attribute">style</span>=<span class="value">"stroke: green;"</span>>
&lt;/<span class="element">svg</span>></code></pre>
<p>we would get the following image.</p>
<svg id="static-path-demo" />
<br>
<svg id="static-sliders" />
<br>
<p>
    However, if you play with the sliders, you can see that changing the size of the SVG element
    will either clip the path content or give extra blank space to the right and/or bottom.
    In order to dynamically resize your page without clipping or blank space, you'll need to scale both the SVG element and its contents.
</p>
<br>
<h3>Scaling Using the Viewbox</h3>
<p>
    The simplest manner in which this scaling can be achieved, is through the
    <code class="html"><span class="attribute">viewBox</span></code> attribute of the SVG tag.
</p>
<p>
    In order to use the <code class="html"><span class="attribute">viewBox</span></code> attribute for scaling in this manner, you first need to
    define your path and the original 'view' for the SVG. The simplest way to do this (using d3) is
</p>
<pre class="code"><code class="javascript"><span class="keyword">var</span> svgWidth = <span class="number">600</span>;  <span class="comment">// The width of the SVG element.</span>
<span class="keyword">var</span> svgHeight = <span class="number">450</span>;  <span class="comment">// The height of the SVG element.</span>
<span class="keyword">var</span> svg = d3.select(<span class="string">"svg"</span>)
    .append(<span class="string">"svg"</span>)
    .attr(<span class="string">"width"</span>, svgWidth)
    .attr(<span class="string">"height"</span>, svgHeight)
    .attr(<span class="string">"viewBox"</span>, <span class="string">"0 0 "</span> + svgWidth + <span class="string">" "</span> + svgHeight)
    .attr(<span class="string">"preserveAspectRatio"</span>, <span class="string">"..."</span>);
</code></pre>
<p>
    The parameters for the <code class="html"><span class="attribute">viewBox</span></code> attribute are
    <code class="html"><span class="value">"origin-x origin-y width height"</span></code>. The
    <code class="html"><span class="value">"origin-x"</span></code> and <code class="html"><span class="value">"origin-y"</span></code>
    values are used to define the top left corner of the SVG element.
    For example, the top left corner of an SVG element is usually (0, 0), but if
    <code class="html"><span class="attribute">viewBox</span>=<span class="value">"10 20 width height"</span></code> is used, then the top left
    corner becomes (10, 20). In this case any point in the path with X coordinate less than 10 or Y coordinate less than 20 will not be
    visible in the SVG element (they're outside the 'view').
</p>
<p>
    Similarly, the <code class="html"><span class="value">"width"</span></code> and <code class="html"><span class="value">"height"</span></code>
    values define the width and height of the 'view'. The coordinates of a point within the SVG element, are therefore mapped to a new coordinate
    system as defined by the <code class="html"><span class="attribute">viewBox</span></code>. Assuming that the SVG element is defined as having
    a width of 400 and height of 200, then by setting
    <code class="html"><span class="attribute">viewBox</span>=<span class="value">"10 20 30 30"</span></code>, you are saying that the 400
    by 200 pixel SVG element will internally use a coordinate system that goes from (10, 20) to (40, 50).
    Therefore, each unit used when defining shapes within the SVG will correspond to 400/40 = 10 pixels in width and 200/50 = 4 pixels in height.
    A rectangle that has its top left corner notionally at (20, 40), will therefore appear to actually have its top left corner located at
    (200, 160) in the SVG element.
</p>
<p>Examples of the effects of changing the <code class="html"><span class="attribute">viewBox</span></code> can be seen below.</p>
<br>
<div id="view-box-effects"></div>
<br>
<p>In each case the SVG element and diamond are defined as</p>
<pre class="code"><code class="html"><<span class="element">svg</span> <span class="attribute">width</span>=<span class="value">"175"</span> <span class="attribute">height</span>=<span class="value">"175"</span>>
    <<span class="element">path</span> <span class="attribute">d</span>=<span class="value">"M0,10L10,20L20,10L10,0Z"</span>>
&lt;/<span class="element">svg</span>></code></pre>
<p>
    The only value that changes between the SVG elements are the values of the <code class="html"><span class="attribute">viewBox</span></code> and
    <code class="html"><span class="attribute">preserveAspectRatio</span></code> attributes.
    Therefore, despite the different sizes and shapes of the red diamond, its center is always (10, 10).
</p>
<p>
    In example 1, the <code class="html"><span class="attribute">viewBox</span></code> is left undefined (and therefore is the same as using
    <code class="html"><span class="attribute">viewBox</span>=<span class="value">"0 0 175 175"</span></code>).
</p>
<p>
    In example 2, the <code class="html"><span class="attribute">viewBox</span></code> attribute is set to be
    <code class="html"><span class="value">"-10 -10 40 40"</span></code>. As the diamond's X and Y coordinates both go from 0 to 20, setting
    the top left corner to (-10, -10), and making the width and height both 40 pixels, causes the diamond to become centered.
</p>
<p>
    In example 3, the <code class="html"><span class="attribute">viewBox</span></code> attribute is set to be
    <code class="html"><span class="value">"0 0 20 20"</span></code>.
</p>
<p>
    In example 4, the <code class="html"><span class="attribute">viewBox</span></code> attribute is set to be
    <code class="html"><span class="value">"0 0 40 80"</span></code>. Although the diamond appears to still have the same height as width,
    the <code class="html"><span class="attribute">viewBox</span></code> attribute should actually cause the height to appear to be half the width,
    even though they are both defined to be 20. However, as the default behaviour is to preserve the aspect ratio, the width of the diamond appears
    to be the same as the height, and therefore half of what it should be. The diamond therefore looks like it has been shifted along the X axis, as
    it can no longer touch the left side.
</p>
<p>
    In example 5, the <code class="html"><span class="attribute">viewBox</span></code> attribute is set to be
    <code class="html"><span class="value">"0 0 40 80"</span></code>. This is also the only case where the
    <code class="html"><span class="attribute">preserveAspectRatio</span></code> attribute is not left as its default value. Instead, it is set to
    <code class="html"><span class="value">"none"</span></code> to prevent the preserving of the aspect ratio. This allows the diamond to stretch
    to touch the left side of the SVG element (unlike in example 4). Preventing the preservation of the aspect ratio ensures that the drawn path
    goes through each one of the specified coordinates regardless of the effect that has on the shape.
</p>
<p>
    The change of coordinate space also affects the text. Although the text is always in the middle of the SVG element, the coordinates of the text
    are not the same across all SVG elements. For example 1, the coordinates of the text are (175/2, 175/2), for examples 2 and 3 the coordinates are
    (10, 10) and for examples 4 and 5 the coordinates are (20, 40).
    The different size of the text in the different SVG elements is caused by the coordinate space change. The text is defined to be 10px in all
    SVG elements, but due to the changed coordinate space appears bigger or smaller.
</p>
<p>Scaling using the <code class="html"><span class="attribute">viewBox</span></code> attribute can be seen below.</p>
<br>
<svg id="view-box-scaling" />
<br>
<svg id="view-box-sliders" />
<br>
<p>
    Using the <code class="html"><span class="attribute">viewBox</span></code> attribute gives you extensive control over how the scaling of the
    content changes via the <code class="html"><span class="attribute">preserveAspectRatio</span></code> attribute (and its many
    <a href="https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/preserveAspectRatio">values</a>). Here
    <code class="html"><span class="attribute">preserveAspectRatio</span>=<span class="value">"none"</span></code> has been used in order to allow
    the path to deform and fit the entire space available.
</p>
<br>
<h3>Scaling By Recomputing Path Coordinates</h3>
<p>
    One potential problem with using the <code class="html"><span class="attribute">viewBox</span></code> attribute to scale content, is that
    changing the SVG element's dimensions causes the appearance of the contents to change. As the size of the SV element above shrinks, the stroke
    width of the path in it decreases noticeably. If this is desired, then there's no problem. However, in some cases it may be desirable to keep
    the path more visible (even though maintaining the stroke size as you scale down the path makes the lines take up a greater proportion of the
    available space).
</p>
<p>
    While this problem can be overcome by resetting the stroke width dynamically, it can also be solved by redrawing the paths at the proper scale.
    Doing this requires more computation, but gives finer control over the scaling of the objects in the SVG element. For example, individual
    objects in the SVG element can be scaled differently, whereas with the <code class="html"><span class="attribute">viewBox</span></code> attribute
    all items in the SVG element are scaled in the same manner.
</p>
<p>An example of this redrawing can be seen below.</p>
<br>
<div id="change-path-scaling"></div>
<br>
<svg id="change-path-sliders" />
<br>
<p>
    The basic process by which this works is to calculate the ratio of the current size of the SVG element to its original size, and the use this
    ratio to rescale objects as needed (the <code class="javascript">scaleValue</code> variable is used when you want to maintain the aspect ratio).
</p>
<pre class="code"><code class="javascript"><span class="keyword">var</span> originalSvgWidth = <span class="number">600</span>;  <span class="comment">// The original width of the SVG element.</span>
<span class="keyword">var</span> currentSvgWidth = originalSvgWidth;  <span class="comment">// The current width of the SVG element.</span>
<span class="keyword">var</span> svgWidthRatio = currentSvgWidth / originalSvgWidth;  <span class="comment">// The ratio of current to original width of the SVG element.</span>
<span class="keyword">var</span> originalSvgHeight = <span class="number">450</span>;  <span class="comment">// The original height of the SVG element.</span>
<span class="keyword">var</span> currentSvgHeight = originalSvgHeight;  <span class="comment">// The current height of the SVG element.</span>
<span class="keyword">var</span> svgHeightRatio = currentSvgHeight / originalSvgHeight;  <span class="comment">// The ratio of current to original height of the SVG element.</span>
<span class="keyword">var</span> scaleValue = Math.min(currentSVGWidthScale, currentSVGHeightScale);
</code></pre>
<p>Then, when the size of the SVG element changes, you update the current width, height and ratios.</p>
<pre class="code"><code class="javascript"><span class="comment">// Get the new height and width.</span>
currentSvgWidth = <span class="number">...</span>;
svgWidthRatio = currentSvgWidth / originalSvgWidth;
currentSvgHeight = <span class="number">...</span>;
svgHeightRatio = currentSvgHeight / originalSvgHeight;
scaleValue = Math.min(currentSVGWidthScale, currentSVGHeightScale);
</code></pre>
<p>You can then update the coordinates of the path to reflect the positions they should take in the SVG element with the changed size.</p>
<pre class="code"><code class="javascript"><span class="comment">// To maintain the aspect ratio.</span>
<span class="keyword">var</span> newCoords = [];
<span class="keyword">for</span> (<span class="keyword">var</span> i = <span class="number">0</span>; i < originalCoords.length; i++)
{
    newCoords.push({<span class="string">"x"</span>: originalCoords[i].x * scaleValue, <span class="string">"y"</span>: originalCoords[i].y * scaleValue})
}

<span class="comment">// To not maintain the aspect ratio.</span>
<span class="keyword">var</span> newCoords = [];
<span class="keyword">for</span> (<span class="keyword">var</span> i = <span class="number">0</span>; i < originalCoords.length; i++)
{
    newCoords.push({<span class="string">"x"</span>: originalCoords[i].x * svgWidthRatio, <span class="string">"y"</span>: originalCoords[i].y * svgHeightRatio})
}
</code></pre>
<p>
    In addition to these concepts, you also need the point around which the scaling will occur. For example, the code (and paths in the examples)
    above will scale towards the top left corner (e.g. (0, 0)). However, you may want them to scale towards a different position.
    With the <code class="html"><span class="attribute">viewBox</span></code> approach this is achieved through the
    <code class="html"><span class="attribute">preserveAspectRatio</span></code> attribute.
    The custom scaling of paths allows you to achieve all the options provided by the
    <code class="html"><span class="attribute">preserveAspectRatio</span></code> attribute, and in addition, allows you to scale towards
    any arbitrary point you want.
</p>
<p>All that's required for this is to define the point around which to scale</p>
<pre class="code"><code class="javascript"><span class="keyword">var</span> scaleAround = {<span class="string">"x"</span>: <span class="number">...</span>, <span class="string">"y"</span>: <span class="number">...</span>}</code></pre>
<p>and then alter the coordinate updating code slightly</p>
<pre class="code"><code class="javascript"><span class="comment">// Need to scale the point around which the scaling occurs.</span>
<span class="keyword">var</span> currentScalingCoords = {<span class="string">"x"</span>: scaleAround.x * svgWidthRatio, <span class="string">"y"</span>: scaleAround.y * svgHeightRatio};

<span class="comment">// For maintaining the aspect ratio.</span>
<span class="keyword">var</span> newCoords = [];
<span class="keyword">for</span> (<span class="keyword">var</span> i = <span class="number">0</span>; i < originalCoords.length; i++)
{
    newCoords.push({<span class="string">"x"</span>: currentScalingCoords.x - (originalCoords[i].dx * scaleValue),
                    <span class="string">"y"</span>: currentScalingCoords.y - (originalCoords[i].dy * scaleValue)})
}

<span class="comment">// To not maintain the aspect ratio.</span>
<span class="keyword">var</span> newCoords = [];
<span class="keyword">for</span> (<span class="keyword">var</span> i = <span class="number">0</span>; i < originalCoords.length; i++)
{
    newCoords.push({<span class="string">"x"</span>: currentScalingCoords.x - (originalCoords[i].dx * svgWidthRatio),
                    <span class="string">"y"</span>: currentScalingCoords.y - (originalCoords[i].dy * svgHeightRatio)})
}
</code></pre>
<p>
    The <code class="javascript">originalCoords[i].dx</code> and <code class="javascript">originalCoords[i].dy</code> values record how far the
    point at <code class="javascript">originalCoords[i]</code> is from <code class="javascript">scaleAround.x</code> and
    <code class="javascript">scaleAround.y</code> respectively (i.e. how far the original path point is from the point around which the scaling
    is to be done). This ensures that the distance from all points to the point around which they are scaling remains the correct proportion
    as the point scaled around changes with the SVG element size.
</p>
<p>
    This approach allows each object to be scaled in different manners around potentially different points. For example, in the left SVG element
    below, the hourglass scales towards the point (150, 150), the tall rectangle towards the top right, the ellipse towards the bottom right and the wide
    rectangle to the bottom left. The rectangles and ellipse also do not maintain their aspect ratios, unlike the hourglass.
    In the right one, both shapes maintain their aspect ratios, but the hourglass scales towards the top left, while the circle scales towards
    the bottom right.
</p>
</p>
<br>
<div id="different-path-scaling"></div>
<br>
<svg id="different-sliders" />
{% endblock %}