/*
Contents:
_classes				-> general style declarations.
_button					-> style declarations for lists styled to look like buttons.
_button_border-shadow	-> style declarations for lists styled to look like buttons that appear 3D using borders and shadows.
_button_glossy			-> style declarations for lists styled to look like glossy buttons.
_tab     				-> general style declarations for lists styled to look like tabs.
_navigation				-> style declarations for the set of page navigation tabs and their content divs.
*/

/*
_classes
*/
div.centered {text-align: center;}  /* Div with centered inline content. */

/*
_button

Notes
	Clipping background div color to 'shrinkwrap' the contained list can be achieved by setting the div to display as inline-block
		or by setting the background-clip. However, background-clip will still leave the div taking up invisible space.
	To center a horizontal set of buttons set the button div to inline-block and enclose it in a div with text-align set to center.
*/
.button {display: inline-block;}
.button.horizontal li {display: inline-block;}  /* Make list horizontal. */
.button ul {cursor: default; list-style: none;}  /* No bullet points or anything for list members. */

/*
_button_border-shadow

Notes
	#FC7064 is a very slightly 'darker' version of #FF7367, and #FF8578 a slightly 'lighter' version.
*/
.button.border-shadow-theme-1 {background-color: white; border: solid 2px black; border-radius: 5px;}  /* Appearance of the background of the buttons. */
.button.border-shadow-theme-1 li {background-color: #FF7367; border: solid 1px black; border-radius: 5px; box-shadow: 1px 1px 2px black; margin: .5em; padding: .5em 1.5em;}  /* Margin around buttons and padding around button text. */
.button.border-shadow-theme-1 li:active {background-color: #FC7064; box-shadow: -1px -1px 2px black;}  /* Styling for the buttons as they are being clicked. */
.button.border-shadow-theme-1 li:hover {background-color: #FF8578;}  /* Hover styling for the buttons. */
.button.border-shadow-theme-1 ul {font-weight: bold; margin: .25em;}  /* Bold the text in the list elements and set the spacing around the whole list (not in between buttons). */

/*
_button_glossy
*/
.button.glossy-theme-1 {background-color: white; border: solid 2px black; border-radius: 10px;}  /* Appearance of the background of the buttons. */
.button.glossy-theme-1 :hover:before {background: none;}  /* On hover, clear the before pseudo element used to make the glossy effect. */
.button.glossy-theme-1 .hypnotise:hover {background: repeating-radial-gradient(circle, white 0%, white 10%, red 10%, red 20%);}  /* Hover styling for a button class. */
.button.glossy-theme-1 .plum:hover {background: radial-gradient(circle, #AE2DE3 50%, black);}  /* Hover styling for a button class. */
.button.glossy-theme-1 .rainbow:hover {background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);}  /* Hover styling for a button class. */
.button.glossy-theme-1 .setting-sun:hover {background: radial-gradient(circle at bottom, white 5%, yellow 10%, #FF7F00 15%, blue, grey);}  /* Hover styling for a button class. */
.button.glossy-theme-1 li {border: solid 1px black; border-radius: 20px; margin: .75em; padding: .5em .5em; position: relative;}  /* Margin around individual buttons and padding around button text. */
.button.glossy-theme-1 li {background-image: linear-gradient(to bottom, #959595 0%,#0D0D0D 46%,#010101 50%,#0A0A0A 53%,#4E4E4E 76%,#383838 87%,#1B1B1B 100%);}
.button.glossy-theme-1 li {box-shadow: rgba(0,0,0,.75) 0px 4px 8px;}
.button.glossy-theme-1 li.selected {}  /* Styling for the depressed buttons. */
.button.glossy-theme-1 li:before {
	content: "";
	
	width: 85%;
	height: 70%;
	
	display: inline-block;
	position: absolute;
	left: 7.5%;
	top: 0%;
	
	background: radial-gradient(at 50% 10%, rgba(255,255,255,.6) 0%, rgba(255,255,255,.5) 15%,rgba(255,255,255,0) 60%);
}
.button.glossy-theme-1 ul {color: white; font-weight: bold; margin: .5em;}  /* Bold the text in the list elements and set the spacing around the set of buttons (but not in between them). */

.button.glossy-theme-2 {background-color: white; border: solid 2px black; border-radius: 10px;}  /* Appearance of the background of the buttons. */
.button.glossy-theme-2 li {border: solid 1px black; border-radius: 10px; margin: .75em; padding: .5em .5em; position: relative;}  /* Margin around individual buttons and padding around button text. */
.button.glossy-theme-2 li{background-image: linear-gradient(to bottom, #959595 0%,#0D0D0D 46%,#010101 50%,#0A0A0A 53%,#4E4E4E 76%,#383838 87%,#1B1B1B 100%);}
.button.glossy-theme-2 li {box-shadow: rgba(0,0,0,.75) 0px 4px 8px;}
.button.glossy-theme-2 li.selected {}  /* Styling for the depressed buttons. */
.button.glossy-theme-2 li:before {
	content: "";
	
	width: 85%;
	height: 70%;
	
	display: inline-block;
	position: absolute;
	left: 7.5%;
	top: 0%;
	
	background: radial-gradient(at 50% 10%, rgba(255,255,255,.6) 0%, rgba(255,255,255,.5) 15%,rgba(255,255,255,0) 60%);
}
.button.glossy-theme-2 ul {color: white; font-weight: bold; margin: .5em;}  /* Bold the text in the list elements and set the spacing around the set of buttons (but not in between them). */

.button.glossy-theme-3 {background-color: white; border: solid 2px black; border-radius: 5px;}  /* Appearance of the background of the buttons. */
.button.glossy-theme-3 li {border: solid 1px black; border-radius: 5px; margin: .75em; padding: .5em .5em; position: relative;}  /* Margin around individual buttons and padding around button text. */
.button.glossy-theme-3 li {background: radial-gradient(#FF0000 50%, rgba(255,0,0,.7)75%, rgba(255,0,0,.5) 100%);}
.button.glossy-theme-3 li:active {}  /* Styling for the buttons as they are being clicked. */
.button.glossy-theme-3 ul {font-weight: bold; margin: .5em;}  /* Bold the text in the list elements and set the spacing around the set of buttons (but not in between them). */
/*
box-shadow: rgba(128,192,255,0.75) 0px 8px 24px;
*/

/*
_tab
*/
.tab {cursor: default;}  /* Style information for the entire div containing the tabs. */
.tab ul {list-style: none; margin: 0; padding: 0;}  /* No list marker, padding or margin. */
.tab.horizontal li {display: inline; padding: 0 1em;}  /* Make list horizontal. */

/*
_navigation
*/
.navigation li {border: 1px solid #000000;}  /* Add a bad border to make them look sort of like tabs. */
.navigation li.selected {background-color: blue;}  /* Styling for the selected tab. */
.navigation li:not(.selected) {background-color: green;}  /* Styling for the non-selected tab. */
.navigation li:not(.selected):hover {background-color: red;}  /* Hover styling for the non-selected tab. */

.navigation-panel {margin: 1em 0 0;}  /* The div of content for each navigation tab. */