<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Visual Perambulations</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='canvas.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/d3/d3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
        {% block head %}
            <!--Block for including page specific CSS and JS files within the <head> tag.-->
        {% endblock %}
    </head>

    <body>
        <div class="content">
            {% block content %}
                <!--Block for including the content of the page within the div.content tag.-->
            {% endblock %}
        </div>
    </body>
</html>
