<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Visual Perambulations</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/d3/d3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
        {% block head %}
            <!--Block for including page specific CSS and JS files within the <head> tag.-->
            <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
        {% endblock %}
    </head>

    <body>
        <header>
            {% block header %}
                <!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
            {% endblock %}
        </header>

        <div class="content">
            {% block content %}
                <!--Block for including the content of the page within the div.content tag.-->
                <div class="bannerContainer" data-background="{{ url_for('static', filename='carousels_2/carousels.png') }}" data-name="SVG Carousels (2)" data-textColor="black">
                    <span class="date">December 30, 2014</span>
                    <a href="{{ url_for('prettyPictures', prettyPictureName='carousels_2') }}"><svg class="banner" /></a>
                </div>
                <div class="bannerContainer" data-background="{{ url_for('static', filename='carousels_1/carousels.png') }}" data-name="SVG Carousels (1)" data-textColor="black">
                    <span class="date">December 10, 2014</span>
                    <a href="{{ url_for('prettyPictures', prettyPictureName='carousels_1') }}"><svg class="banner" /></a>
                </div>
                <div class="bannerContainer" data-background="{{ url_for('static', filename='checkboxes_and_radio_buttons/checkboxes_and_radio_buttons.png') }}" data-name="SVG Checkboxes and Radio Buttons" data-textColor="white">
                    <span class="date">November 13, 2014</span>
                    <a href="{{ url_for('prettyPictures', prettyPictureName='checkboxes_and_radio_buttons') }}"><svg class="banner" /></a>
                </div>
                <div class="bannerContainer" data-background="{{ url_for('static', filename='favicon/favicon.png') }}" data-name="Favicon" data-textColor="black">
                    <span class="date">November 6, 2014</span>
                    <a href="{{ url_for('prettyPictures', prettyPictureName='favicon') }}"><svg class="banner" /></a>
                </div>
                <div class="bannerContainer" data-background="{{ url_for('static', filename='scalable_paths/scalable_paths.png') }}" data-name="Scalable Paths" data-textColor="white">
                    <span class="date">October 30, 2014</span>
                    <a href="{{ url_for('prettyPictures', prettyPictureName='scalable_paths') }}"><svg class="banner" /></a>
                </div>
                <div class="bannerContainer" data-background="{{ url_for('static', filename='pong_clone/pong_clone.png') }}" data-name="Pong" data-textColor="white">
                    <span class="date">October 10, 2014</span>
                    <a href="{{ url_for('prettyPictures', prettyPictureName='pong_clone') }}"><svg class="banner" /></a>
                </div>
                <div class="bannerContainer" data-background="{{ url_for('static', filename='space_invaders_clone/space_invaders_clone.png') }}" data-name="Space Invaders" data-textColor="white">
                    <span class="date">October 2, 2014</span>
                    <a href="{{ url_for('prettyPictures', prettyPictureName='space_invaders_clone') }}"><svg class="banner" /></a>
                </div>
                <div class="bannerContainer" data-background="{{ url_for('static', filename='snake_clone/snake_clone.png') }}" data-name="Snake" data-textColor="white">
                    <span class="date">September 24, 2014</span>
                    <a href="{{ url_for('prettyPictures', prettyPictureName='snake_clone') }}"><svg class="banner" /></a>
                </div>
                <div class="bannerContainer" data-background="{{ url_for('static', filename='bouncy_balls/bouncy_balls.png') }}" data-name="Bouncy Balls" data-textColor="black">
                    <span class="date">September 17, 2014</span>
                    <a href="{{ url_for('prettyPictures', prettyPictureName='bouncy_balls') }}"><svg class="banner" /></a>
                </div>
            {% endblock %}
            <br><br>
            <p>CSS, HTML and Javascript code for creating the page can be found <a href={{ githubURL }}>here</a>.</p>
        </div>

        <footer>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="https://github.com/SimonCB765">GitHub</a>
            <a href="">Resume</a>
            <a href="">Contact</a>
        </footer>
    </body>
</html>
