/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_header     -> style declarations for the <header> tag
_footer     -> style declarations for the <footer> tag
_classes    -> style declarations for specific classes.
_code		-> style declarations for code blocks.
*/

/*
_element
*/
* {margin: 0; padding: 0;}  /* Reset all padding and margins. */
html {min-width: 1040px;}
body {background-color: #F8F8F8; color: #222222; font-family: "Segoe UI", sans-serif; margin: .5em auto; width: 960px;}
p {margin: 1em 0}
a {color: #FF0066; font-weight: bold;}
a:not(:hover) {text-decoration: none;}  /* Remove the underline that would normally be present on links (except when hovered over). */

/*
_header
*/
header {margin-bottom: 2em;}
header .pageTitle {font-size: 60px; font-weight: normal; letter-spacing: -1px;}

/*
_footer
*/
footer {margin: 4em 0 2em; word-spacing: 30px;}
footer a {font-style: oblique; font-weight: bold;}

/*
_classes
*/
.date {color: #0099FF; font-size: 14px; font-style: oblique; font-weight: bold; letter-spacing: 2px;}  /* Styling for dates. */

/*
_code
*/
code {color: black;}  /* Default styling for all code. */
code.html .attribute {color: red;}  /* Styling for the attribute name in an HTML/SVG tag. */
code.html .class {color: firebrick;}  /* Styling for the class name of an HTML/SVG element. */
code.html .element {color: blue;}  /* Styling for the element name in an HTML/SVG tag (e.g. the rect in <rect ...>. */
code.html .value {color: #AE2DE3;}  /* Styling for the value of an attribute in an HTML/SVG tag. */
code.javascript .comment {color: green;}  /* Style javascript comments. */
code.javascript .keyword {color: blue;}  /* Style javascript keywords. */
code.javascript .number {color: red;}  /* Style javascript numbers. */
code.javascript .string {color: #AE2DE3;}  /* Style javascript strings. */
pre.code {border-left: solid 2px black; font-size: 125%; margin: 1em 0 1em -1em; padding-left: 12px;}  /* Style blocks of code. */