{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousels/carousels.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels/carousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels/carouselDemos.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Carousels</h1>
<span class="date">-- --, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<p>
    Each carousel consists of:<br>
        A container in which the items are placed (and on which the effects like dragging operate).<br>
        A set of items inside the container (each of which records its own width, horizontal padding and height).<br>
        The effects applied to allow the carousel to move properly.<br>
    The carousel does not care about the shape of the items, its just places and manipulates them.
</p>
<p>
    With centered items it is often best to manually define the carousel size (otherwise can't tell that it is centered).
</p>
<br>
<h2>Single Item Carousels</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling</h3>
        <svg id="Single-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = carouselCreator(items)
    ...
    .isInfinite(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling</h3>
        <svg id="Single-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = carouselCreator(items)
    ...
    .isInfinite(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Multiple Item Carousels</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling (Uneven Items Sets)</h3>
        <svg id="Multi-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = carouselCreator(items)
    ...
    .isInfinite(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">4</span>)
    .itemsToScrollBy(<span class="number">4</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling</h3>
        <svg id="Multi-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = carouselCreator(items)
    ...
    .isInfinite(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">2</span>)
    .itemsToScrollBy(<span class="number">2</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Centered Carousels</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling (Manual Width)</h3>
        <svg id="Center-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = carouselCreator(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">false</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">2</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling (Manual Width)</h3>
        <svg id="Center-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = carouselCreator(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">true</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">3</span>)
    .itemsToScrollBy(<span class="number">2</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Carousels With Items of Different Sizes and Shapes</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Variable Size Items</h3>
        <svg id="Var-Size-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = carouselCreator(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">false</span>)
    .isCentered(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Size Items</h3>
        <svg id="Var-Size-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = carouselCreator(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">true</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<div>
    <div class="adj">
        <h3 class="centerText">Variable Shape Items</h3>
        <svg id="Var-Shape-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = carouselCreator(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">false</span>)
    .isCentered(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Shape Items</h3>
        <svg id="Var-Shape-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = carouselCreator(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">true</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Non-standard Scroll Path Carousels</h2>
<h3 class="centerText">Triangle Scroll Path</h3>
<svg id="Triangle-Path" />
<h3 class="centerText">Sine Wave Scroll Path</h3>
<svg id="Sine-Path" />
<br>
<h2>Carousels With Altered Navigation Buttons</h2>
<h3>Altered Navigation Arrows</h3>
<h3>Altered Navigation Dots</h3>
<br>
<h2>Individual Controllable Items</h2>
<p>One where you can drag the individual items to reorder them and to scroll (also has arrows). i.e. mouse drags the image, mouse ets close to left edge, carousel starts turning left slowly, mouse is released, carousel stops and image drops in</p>
<p>Add and remove items (add & remove - http://kenwheeler.github.io/slick/).</p>
<p>One that lets you permanently take items out, closes the gaps, and then lets you stick it back in later.</p>
<br>
<h2>Unique Carousels</h2>
<p>One with a drop down box (or maybe just a context menu on right clicking the carousel) that lets you choose item to jump to, and then rotates carousel to the item.</p>
<br>
<h2>Optional Extras</h2>
<p>Sync two sliders, one smaller than the other, like a small overview and closeup on focussed on. (Slider syncing - http://kenwheeler.github.io/slick/)</p>
<p>Filter items in some way (maybe context menu). (filtering - http://kenwheeler.github.io/slick/).</p>
{% endblock %}