/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_classes    -> style declarations for specific classes.
_carousel   -> style declarations for the carousel itself.
_navArrow	-> style declarations for the navigation arrows.
_navDot     -> style declarations for the navigation dots.
_item       -> style declarations for the carousel items.
*/

/*
_element
*/

/*
_classes
*/

/*
_carousel
*/
.carousel {fill: #444444; fill-opacity: 1; stroke: none;}  /* Style the carousel. A fill is needed in order to make the carousel catch events nicely. */
.scrollPath {fill: none; stroke: orange; stroke-width: 2;}  /* Style declarations for the path along which the items are scrolled. */

/*
_navArrow
*/
.navArrow  {opacity: 0;}  /* The default style of the navigation arrows is to be invisible. */
.navArrow rect {fill: black; fill-opacity: 0; stroke: none;}  /* Style the rectangle that catches events. */
.navArrow path {fill: lightgrey; stroke: none;}  /* Style the arrow itself. */
.navArrow.visible {opacity: .8;}  /* The navigation arrows should be slightly visible when the carousel is rolled over. */
.navArrow.visible.inactive  {opacity: .2;}  /* The navigation arrows should be barely visible when unusable. */
.navArrow.highlight {opacity: 1; cursor: pointer;}  /* When hovered over the navigation arrows should be fully visible. */
.navArrow.highlight.inactive {opacity: .2; cursor: default;}  /* When hovered over, an inactive navigation arrows should barely be visible. */
.navArrow.highlight path {fill: white;}  /* Style the arrow when highlighted. */

/*
_navDot
*/
.navDot {fill: white; stroke: none;}  /* Style the non-selected navigation dots (i.e. the dots not corresponding to the current visible items). */
.navDot:hover {cursor: pointer;}  /* Change the mouse to a pointer when hovering over the navigation dots. */
.navDot.selected {fill: red;}  /* Style the selected navigation dot (i.e. the dot corresponding to the current visible items). */
.navDot rect {opacity: 0;}  /* Make the backing rectangle invisible. */

/*
_item
*/
.borderRect {stroke: none;}  /* Style the rectangles containing the pattern fill. */
.item {cursor: default;}
.patternNumber {fill: white; font-size: 70px; font-weight: bold; stroke: black; stroke-width: 2; text-anchor: middle;}  /* Style definitions for all text elements in and SVG element. */

