{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousels/carousels.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels/standardCarousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels/moveableItemCarousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels/dragItemCarouselsNonInf.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels/carouselDemos.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Carousels</h1>
<span class="date">-- --, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<p>
    Carousel schematic diagram
    .carousel
        .itemContainer - dragging operates on this
            rect.backingRect
            path.scrollPath
            g.item
        .navArrow.left - arrow nav operates on this
            rect
            path
        .navArrow.right - arrow nav operates on this
            rect
            path
        .navDotContainer
            rect
            g.navDot - dot nav operates on these
                rect
                circle
</p>
<p>
    Parameter options and what they do
</p>
<p>
    items get added data field - transX, transY, distAlongPath, resting<br>
    swipe behaviour can be easily added if needed (should work just like dragging)<br>
    items passed in will be moved to be under the carousel, not have whatever they currently have as a parent.<br>
    If have X items, can only put X - 1 in the items to view<br>
    Assumes that the number of items to scroll by is less than the total number of items<br>
    can drag, click on arrows/dots to move carousel<br>
    clip paths are added (with an id) to eac item to clip them to the carousel<br>
    The carousel does not care about the shape of the items, its just places and manipulates them
            The items can be any shape, provided the height and width given accurately capture the items height and width<br>
    navigation arrow can be changed to anything, but need to make sure that the arrow width/height will accomodate the new shape, or clicking will be more fiddly<br>
    nav dots can have their shape changed, but need to make sure that the radius provided could encompass the new shape, or clicking will be fiddly<br>
    wrapping the items positions around for infinite scrollingis done using d.distAlongPath = (scrollPathLength + d.distAlongPath) % scrollPathLength;
        this ties the ends of the path together and makes it so that distance 0 === distance scrollPathLength<br>
    individual dragging forces it to be single item in view single item scroll by without dots
</p>
<p>
    With centered items it is often best to manually define the carousel size (otherwise can't tell that it is centered).
</p>
</p>
<br>
<h2>Single Item Carousels</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling</h3>
        <svg id="Single-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .isInfinite(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling</h3>
        <svg id="Single-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .isInfinite(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Multiple Item Carousels</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling (Uneven Items Sets)</h3>
        <svg id="Multi-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .isInfinite(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">4</span>)
    .itemsToScrollBy(<span class="number">4</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling</h3>
        <svg id="Multi-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .isInfinite(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">2</span>)
    .itemsToScrollBy(<span class="number">2</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Centered Carousels</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling (Manual Width)</h3>
        <svg id="Center-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">false</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">2</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling (Manual Width)</h3>
        <svg id="Center-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">true</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">3</span>)
    .itemsToScrollBy(<span class="number">2</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Carousels With Items of Different Sizes and Shapes</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Variable Size Items</h3>
        <svg id="Var-Size-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">false</span>)
    .isCentered(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Size Items</h3>
        <svg id="Var-Size-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">true</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<div>
    <div class="adj">
        <h3 class="centerText">Variable Shape Items</h3>
        <svg id="Var-Shape-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">false</span>)
    .isCentered(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Shape Items</h3>
        <svg id="Var-Shape-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">true</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Individually Draggable Items</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Uniform Shapes and Sizes</h3>
        <svg id="Indiv-Non-Var" />
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Shapes and Sizes</h3>
        <svg id="Indiv-Var" />
    </div>
</div>
<div>
    <div class="adj">
        <h3 class="centerText">Uniform Shapes and Sizes</h3>
        <svg id="Indiv-Non-Var-Non-Inf" />
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Shapes and Sizes</h3>
        <svg id="Indiv-Var-Non-Inf" />
    </div>
</div>
<p>Add and remove items (add & remove - http://kenwheeler.github.io/slick/).</p>
<p>One that lets you permanently take items out, closes the gaps, and then lets you stick it back in later.</p>
<br>
<h2>Optional Extras</h2>
<p>Sync two sliders, one smaller than the other, like a small overview and closeup on focussed on. (Slider syncing - http://kenwheeler.github.io/slick/)</p>
<p>Filter items in some way (maybe context menu). (filtering - http://kenwheeler.github.io/slick/).</p>
{% endblock %}