/*
Contents:
_carousel   -> style declarations for the carousel itself.
_navArrow	-> style declarations for the navigation arrows.
_navDot     -> style declarations for the navigation dots.
*/

/*
_carousel
*/
.carousel {cursor: default; fill: #444444; fill-opacity: 1; stroke: none;}  /* Style the carousel. A fill is needed in order to make the carousel catch events nicely. */
.scrollPath {fill: none; stroke: orange; stroke-width: 2;}  /* Style declarations for the path along which the items are scrolled. */

/*
_navArrow
*/
.navArrow  {opacity: 0;}  /* The default style of the navigation arrows is to be invisible. */
.navArrow rect {fill: black; fill-opacity: 0; stroke: none;}  /* Style the rectangle that catches events. */
.navArrow path {fill: lightgrey; stroke: none;}  /* Style the arrow itself. */
.navArrow.visible {opacity: .8;}  /* The navigation arrows should be slightly visible when the carousel is rolled over. */
.navArrow.visible.inactive  {opacity: .2;}  /* The navigation arrows should be barely visible when unusable. */
.navArrow.highlight {opacity: .9; cursor: pointer;}  /* When hovered over the navigation arrows should be fully visible. */
.navArrow.highlight.inactive {opacity: .2; cursor: default;}  /* When hovered over, an inactive navigation arrows should barely be visible. */
.navArrow.highlight path {fill: white;}  /* Style the arrow when highlighted. */

/*
_navDot
*/
.navDotContainer {fill: white; stroke: none;}  /* Style the non-selected navigation dots (i.e. the dots not corresponding to the current visible items). */
.navDotContainer rect {opacity: 0;}  /* Make the backing rectangle invisible. */
.navDot:hover {cursor: pointer;}  /* Change the mouse to a pointer when hovering over the navigation dots. */
.navDot.selected {fill: red;}  /* Style the selected navigation dot (i.e. the dot corresponding to the current visible items). */