{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousels/carousels.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels/carousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels/carouselDemos.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Carousels</h1>
<span class="date">-- --, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<svg id="demo2"/>
<br>
<p>
    Each carousel consists of:<br>
        A container in which the items are placed (and on which the effects like dragging operate).<br>
        A set of items inside the container (each of which records its own width, horizontal padding and height).<br>
        The effects applied to allow the carousel to move properly.<br>
    The carousel does not care about the shape of the items, its just places and manipulates them.
</p>
<br>
<h3>Single Item Carousels</h3>
<p>Not infinite looping (fade out arrow on side when reach end, but still allow dragging to just give empty space) (Responsive design - http://kenwheeler.github.io/slick/)</p>
<p>Infinite Looping (Multiple items - http://kenwheeler.github.io/slick/)</p>
<br>
<h3>Multiple Item Carousels</h3>
<p>Not infinite looping (fade out arrow on side when reach end, but still allow dragging to just give empty space) (Responsive design - http://kenwheeler.github.io/slick/)</p>
<p>Infinite Looping (Multiple items - http://kenwheeler.github.io/slick/)</p>
<p>Slide a set number of items out of the viewfinder on arrow click (give some text box where this can be changed).</p>
<br>
<h3>Centered Carousels</h3>
<p>Infinite and non-infinite for all.</p>
<p>Have the center item highlighted in some way, and make it so that the center item is really in the center (require odd number of items). (center mode - http://kenwheeler.github.io/slick/)</p>
<p>Variable width items. The viewport width has to take into account the X widest neighbouring items, where X is the number of items in the viewport at once). (variable width - http://kenwheeler.github.io/slick/)</p>
<p>Variable horizontal padding items.</p>
<p>Click on an item to center it in the carousel.</p>
<br>
<h3>Individual Controllable Items</h3>
<p>One where you can drag the individual items to reorder them and to scroll (also has arrows). i.e. mouse drags the image, mouse ets close to left edge, carousel starts turning left slowly, mouse is released, carousel stops and image drops in</p>
<p>Add and remove items (add & remove - http://kenwheeler.github.io/slick/).</p>
<p>One that lets you permanently take items out, closes the gaps, and then lets you stick it back in later.</p>
<br>
<h3>Unique Carousels</h3>
<p>One with a drop down box (or maybe just a context menu on right clicking the carousel) that lets you choose item to jump to, and then rotates carousel to the item.</p>
<p>Filter items in some way. (filtering - http://kenwheeler.github.io/slick/).</p>
<br>
<h3>Optional Extras</h3>
<p>Autoplaying carousel. Let's you drag and arrow still, but autoplays. Make it break autoplay when you mouse in, and restart when mouse out. (autoplay - http://kenwheeler.github.io/slick/)</p>
<p>Funky 3Dish carousel with all items in view (http://adam.co/lab/svg/carousel.html).</p>
<p>Fade in and out on transition (best keep it to one item). (fade - http://kenwheeler.github.io/slick/)</p>
<p>Sync two sliders, one smaller than the other, like a small overview and closeup on focussed on. (Slider syncing - http://kenwheeler.github.io/slick/)</p>
{% endblock %}