{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='class_visualisation/class_visualisation.css') }}">
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Exploring Class Data</h1>
<span class="date">-- --, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<p>TODO:</p>
<p>Reorder of columns/rows after dragging.</p>
<p>Sort out the tick labels (especially x axis)</p>
<p>Get the axes to have enough space so that the scatter points are not right on the edge of the graphs</p>
<br><br>
<p>NOTES:</p>
<p>Have each draggable tab given a class (that is also given to each cell in its row/column), and then select the cells with the tag and change their transform.</p>
<script type="text/javascript" src="{{ url_for('static', filename='class_visualisation/class_visualisation.js') }}"></script>
<br><br><br><br>
<p>The class variable is assumed to be called Class in any files uploaded.</p>
{% endblock %}