/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_classes    -> style declarations for specific classes.
*/

/*
_element
*/
svg {display: block; margin: 0 auto; outline: thin solid #3A3A3B;}


/*
_classes
*/
svg .chartBorder {fill-opacity: 0; stroke: #3A3A3B;}
svg .deselected {fill: #C0C0C0; opacity: 0.7; stroke: #C0C0C0;}
svg .chartCell .extent {fill: black; opacity: 0.1;}
svg .selected {opacity: .8; stroke: none;}
svg .xAxis path, svg .xAxis line, svg .yAxis path, svg .yAxis line {fill: none;}