#basic-tab-set {display: block; margin: 0 auto;}
#basic-tab-set .backing {fill: black; stroke: none;}  /* Bottom backing border for the tab set. */
#basic-tab-set .tab {fill: #888888; stroke: black; stroke-width: 1;}  /* Style the tabs. */
#basic-tab-set .tab-container {cursor: default;}  /* Prevent changing of the cursor when hovering over a tab. */
#basic-tab-set .tab-container.hover .tab {fill: #989898;}
#basic-tab-set .tab-container .tab.selected {fill: white;}
#basic-tab-set .tab-content {}

#twirling-tabs {display: block; margin: 0 auto;}
#twirling-tabs .backing {fill: black; stroke: none;}  /* Bottom backing border for the tab set. */
#twirling-tabs .tab {fill: #888888; stroke: black; stroke-width: 1;}  /* Style the tabs. */
#twirling-tabs .tab-container {cursor: default;}  /* Prevent changing of the cursor when hovering over a tab. */
#twirling-tabs .tab-container.hover .tab {fill: #989898;}
#twirling-tabs .tab-container .tab.selected {fill: white;}
#twirling-tabs .tab-content {}

#hard-clip-tabs {display: block; margin: 0 auto;}
#hard-clip-tabs .backing {fill: black; stroke: none;}  /* Bottom backing border for the tab set. */
#hard-clip-tabs .tab {fill: #888888; stroke: black; stroke-width: 2;}  /* Style the tabs. */
#hard-clip-tabs .tab-container {cursor: default;}  /* Prevent changing of the cursor when hovering over a tab. */
#hard-clip-tabs .tab-container.hover .tab {fill: #989898;}
#hard-clip-tabs .tab-container .tab.selected {fill: white;}
#hard-clip-tabs .tab-text {dominant-baseline: middle; fill: black; font-size: .75em; stroke: none;}

#fade-clip-tabs {display: block; margin: 0 auto;}
#fade-clip-tabs .backing {fill: black; stroke: none;}  /* Bottom backing border for the tab set. */
#fade-clip-tabs .grad-end {stop-color : rgba(0,0,0,0.2)}  /* The stop color for the end of the gradient. */
#fade-clip-tabs .grad-start {stop-color : rgba(0,0,0,1)}  /* The stop color for the start of the gradient. */
#fade-clip-tabs .tab {fill: #888888; stroke: black; stroke-width: 2;}  /* Style the tabs. */
#fade-clip-tabs .tab-container {cursor: default;}  /* Prevent changing of the cursor when hovering over a tab. */
#fade-clip-tabs .tab-container.hover .tab {fill: #989898;}
#fade-clip-tabs .tab-container .tab.selected {fill: white;}
#fade-clip-tabs .tab-text {dominant-baseline: middle; fill: black; font-size: .75em; stroke: none;}

#tall-tabs {display: block; margin: 0 auto;}
#tall-tabs .backing {fill: black; stroke: none;}  /* Bottom backing border for the tab set. */
#tall-tabs .grad-end {stop-color : rgba(0,0,0,0);}  /* The stop color for the end of the gradient. */
#tall-tabs .grad-start {stop-color : rgba(0,0,0,1);}  /* The stop color for the start of the gradient. */
#tall-tabs .tab {fill: #888888; stroke: black; stroke-width: 2;}  /* Style the tabs. */
#tall-tabs .tab-container {cursor: default;}  /* Prevent changing of the cursor when hovering over a tab. */
#tall-tabs .tab-container.hover .tab {fill: #989898;}
#tall-tabs .tab-container .tab.selected {fill: white;}
#tall-tabs .tab-text {dominant-baseline: middle; fill: black; font-size: .75em; stroke: none;}
#tall-tabs .tab-text tspan {dominant-baseline: middle; font-size: 1em; stroke: none;}

#moveable-tabs {display: block; margin: 0 auto;}
#moveable-tabs .backing {fill: black; stroke: none;}  /* Bottom backing border for the tab set. */
#moveable-tabs .grad-end {stop-color : rgba(0,0,0,0);}  /* The stop color for the end of the gradient. */
#moveable-tabs .grad-start {stop-color : rgba(0,0,0,1);}  /* The stop color for the start of the gradient. */
#moveable-tabs .tab-container {cursor: default; fill: #888888;}  /* Prevent changing of the cursor when hovering over a tab. */
#moveable-tabs .tab-container.hover .close-button {fill: #989898;}
#moveable-tabs .tab-container.hover .tab {fill: #989898;}
#moveable-tabs .tab-container.selected .close-button {fill: white;}
#moveable-tabs .tab-container.selected .tab {fill: white;}
#moveable-tabs .tab-container .close-button:hover {fill: #FF008C; stoke: none;}
#moveable-tabs .tab-container .close-button:hover:active {fill: #E6007E;}  /* Slightly darker button when depressed. */
#moveable-tabs .tab-container .close-button:hover path {stroke: white;}
#moveable-tabs .tab-container .close-button path {stroke: black; stroke-width: 2;}
#moveable-tabs .tab-container .tab {stroke: black; stroke-width: 2;}  /* Style the tabs. */
#moveable-tabs .tab-container .tab-text {dominant-baseline: middle; fill: black; font-size: .75em; stroke: none;}
#moveable-tabs .tab-container .tab-text tspan {dominant-baseline: middle; font-size: 1em; stroke: none;}

#addable-tabs {cursor: default; display: block; margin: 0 auto;}

#addable-tabs .add-button {fill: #F8F8F8; stroke: none;}
#addable-tabs .add-button:hover {fill: #FF008C;}
#addable-tabs .add-button:hover:active {fill: #E6007E;}
#addable-tabs .add-button:hover path {stroke: white;}
#addable-tabs .add-button path {stroke: black; stroke-width: 2;}

#addable-tabs .backing {fill: black; stroke: none;}  /* Bottom backing border for the tab set. */
#addable-tabs .grad-end {stop-color : rgba(0,0,0,0);}  /* The stop color for the end of the gradient. */
#addable-tabs .grad-start {stop-color : rgba(0,0,0,1);}  /* The stop color for the start of the gradient. */
#addable-tabs .tab-container {fill: #888888;}  /* Prevent changing of the cursor when hovering over a tab. */
#addable-tabs .tab-container.hover .close-button {fill: #989898;}
#addable-tabs .tab-container.hover .tab {fill: #989898;}
#addable-tabs .tab-container.selected .close-button {fill: white;}
#addable-tabs .tab-container.selected .tab {fill: white;}
#addable-tabs .tab-container .close-button:hover {fill: #FF008C; stoke: none;}
#addable-tabs .tab-container .close-button:hover:active {fill: #E6007E;}  /* Slightly darker button when depressed. */
#addable-tabs .tab-container .close-button:hover path {stroke: white;}
#addable-tabs .tab-container .close-button path {stroke: black; stroke-width: 2;}
#addable-tabs .tab-container .tab {stroke: black; stroke-width: 2;}  /* Style the tabs. */
#addable-tabs .tab-container .tab-text {dominant-baseline: middle; fill: black; font-size: .75em; stroke: none;}
#addable-tabs .tab-container .tab-text tspan {dominant-baseline: middle; font-size: 1em; stroke: none;}