/**************************
* Style info for all tabs *
**************************/
svg {display: block; margin: 0 auto;}  /* Center SVG elements. */
svg .backing {fill: black; stroke: none;}  /* Bottom backing border for the tab set. */
svg .grad-end {stop-color : rgba(0,0,0,0)}  /* The stop color for the end of the gradient. */
svg .grad-start {stop-color : rgba(0,0,0,1)}  /* The stop color for the start of the gradient. */
svg .tab {fill: #888888; stroke: black; stroke-width: 1;}  /* Style the tabs. */
svg .tab-container {cursor: default;}  /* Prevent changing of the cursor when hovering over a tab. */
svg .tab-container.hover .tab {fill: #989898;}
svg .tab-container .tab.selected {fill: white;}
svg .tab-text {dominant-baseline: middle; fill: black; font-size: .75em; stroke: none;}
svg .tab-text tspan {dominant-baseline: middle; font-size: 1em; stroke: none;}

/***************************************
* Style info for specific sets of tabs *
***************************************/
#moveable-tabs .tab-container {cursor: default; fill: #888888;}  /* Prevent changing of the cursor when hovering over a tab. */
#moveable-tabs .tab-container.hover .close-button {fill: #989898;}
#moveable-tabs .tab-container.hover .tab {fill: #989898;}
#moveable-tabs .tab-container.selected .close-button {fill: white;}
#moveable-tabs .tab-container.selected .tab {fill: white;}
#moveable-tabs .tab-container .close-button:hover {fill: #FF008C; stoke: none;}
#moveable-tabs .tab-container .close-button:hover:active {fill: #E6007E;}  /* Slightly darker button when depressed. */
#moveable-tabs .tab-container .close-button:hover path {stroke: white;}
#moveable-tabs .tab-container .close-button path {stroke: black; stroke-width: 2;}

/**********************
* Firefox Style Tabs. *
**********************/
#firefox-tabs {cursor: default; display: block; margin: 0 auto;}  /* Keep the cursor as a pointer always. */
#firefox-tabs .baseline {fill: #FF008C; stroke: none;}  /* Style for the baseline border on which the tabs sit. */
#firefox-tabs .grad-end {stop-color : rgba(0,0,0,0);}  /* The stop color for the end of the gradient. */
#firefox-tabs .grad-start {stop-color : rgba(0,0,0,1);}  /* The stop color for the start of the gradient. */
#firefox-tabs .tab-container {fill: #888888;}  /* Default style for the tabs. */
#firefox-tabs .tab-container:hover {fill: #989898;}  /* Style for a tab if it's being hovered over. */
#firefox-tabs .tab-container.selected {fill: white;}  /* Style for the selected tab. */
#firefox-tabs .tab-container .close-button:hover {fill: #FF008C; stoke: none;}  /* Style for the close tab button when it's hovered over. */
#firefox-tabs .tab-container .close-button:hover:active {fill: #E6007E;}  /* Slightly darker button when depressed. */
#firefox-tabs .tab-container .close-button:hover path {stroke: white;}  /* Style for the cross in the close tab button when the button is hovered over. */
#firefox-tabs .tab-container .close-button path {stroke: black; stroke-width: 2;}  /* Style for the cross in the close tab button. */
#firefox-tabs .tab-container .tab {stroke: none;}  /* Remove the stroke from the paths making up the tabs. */
#firefox-tabs .tab-container .tab-border {stroke: black;}  /* Stroke the paths making up the borders of tabs. */
#firefox-tabs .tab-container .tab-text {dominant-baseline: middle; fill: black; stroke: none;}  /* Style the text in a tab. */
#firefox-tabs .tab-navigator {fill: black; stroke: none;}  /* Style the rectangle used as the tab navigator. */
#firefox-tabs .tab-navigator path {stroke: white; stroke-linecap: round; stroke-width: 3;}  /* Style the lines inside the navigator. */