/*
Contents:
_button					-> style declarations for buttons.
_tab     				-> style declarations for tabs.
*/

/*
_button

Notes
	Clipping background div color to 'shrinkwrap' the contained list can be achieved by setting the div to display as inline-block
		or by setting the background-clip. However, background-clip will still leave the div taking up invisible space.
*/
.button {cursor: default;}  /* No changing of the cursor when over button content. */
.button-container {display: flex; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
.button-container.horizontal {flex-direction: row;}
.button-container .button {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}

.button-theme-1 {}  /* Use natural page background. */
.button-theme-1 .button {background-color: rgb(174,45,227); box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); color: white; height: 50px; margin: 0 1em; width: 100px;}  /* Style the buttons. */
.button-theme-1 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
.button-theme-1 .button:hover {background-color: rgb(200,71,253); box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);}  /* Style the buttons when hovered over. */
.button-theme-1 .button.selected {background-color: rgb(200,71,253); box-shadow: 0 4px 8px 0 rgba(0,0,0,.4); font-weight: bold;}  /* Style the selected button. */

.button-theme-2 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
.button-theme-2 .button {background-color: rgb(255,0,140); color: black; height: 50px; margin: 0 1em; width: 100px;}  /* Style the buttons. */
.button-theme-2 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
.button-theme-2 .button:hover {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1);}  /* Style the buttons when hovered over. */
.button-theme-2 .button.selected {background-color: rgb(255,0,140); box-shadow: 0px 2px 1px 0 rgba(255,255,255,1), -1px 0px 1px 0 rgba(255,255,255,1), 1px 0px 1px 0 rgba(255,255,255,1), 0px -2px 1px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the selected button. */


/*
Three, 4 and 5 don't look as nice as 2 does hen you select it. The color and boldness change in 2 look god together, for some reason the
boldness change alone in 3,4,5 don't look that nice (seem a bit quick). They basically seem like instant transitions that happen after a delay.
So like maybe could do white outline text (white outline black inside) that goes to white fill and bold or seomthing like that.
Bascially need a color and boldness change to make it look nicest
*/
.button-theme-3 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
.button-theme-3 .button {background-color: black; box-shadow: 0px 2px 2px 0 rgba(255,255,255,1), -1px 0px 2px 0 rgba(255,255,255,1), 1px 0px 2px 0 rgba(255,255,255,1), 0px -2px 2px 0 rgba(255,255,255,1); color: white; height: 50px; margin: 0 1em; width: 100px;}  /* Style the buttons. */
.button-theme-3 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
.button-theme-3 .button:hover {background-color: white; box-shadow: 0 0; color: black;}
.button-theme-3 .button.selected {background-color: white; box-shadow: 0 0; color: black; font-weight: bold;}

.button-theme-4 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
.button-theme-4 .button {background-color: black; box-shadow: 0px 2px 2px 0 rgba(255,255,255,1), -1px 0px 2px 0 rgba(255,255,255,1), 1px 0px 2px 0 rgba(255,255,255,1), 0px -2px 2px 0 rgba(255,255,255,1); color: white; height: 50px; margin: 0 1em; width: 100px;}  /* Style the buttons. */
.button-theme-4 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
.button-theme-4 .button:hover {background-color: rgb(0, 255, 123); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: black;}
.button-theme-4 .button.selected {background-color: rgb(0, 255, 123); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: black; font-weight: bold;}

.button-theme-5 {background-color: white; padding: 1em; border: solid 2px black; border-radius: 5px;}  /* Use black background that surrounds the buttons completely. */
.button-theme-5 .button {background-color: white; border: solid 2px black; border-radius: 5px; box-shadow: 0 2px 5px 0 rgba(0,0,0,.4); height: 50px; margin: 0 1em; width: 100px;}  /* Style the buttons. */
.button-theme-5 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
.button-theme-5 .button:hover {background-color: black; box-shadow: 0 4px 8px 0 rgba(0,0,0,.6); color: white}  /* Style the buttons when hovered over. */
.button-theme-5 .button.selected {background-color: black; box-shadow: 0 4px 8px 0 rgba(0,0,0,.6); color: white; font-weight: bold;}  /* Style the selected button. */


/*
.button.border-shadow-theme-1 {background-color: white; border: solid 2px black; border-radius: 5px;}  /* Appearance of the background button container.
*/

/*
_tab
*/
.tab {cursor: default;}  /* Style information for the entire div containing the tabs. */
.tab ul {list-style: none; margin: 0; padding: 0;}  /* No list marker, padding or margin. */
.tab.horizontal li {display: inline; padding: 0 1em;}  /* Make list horizontal. */

/*
_navigation
*/
.tab.navigation li {border: 1px solid #000000;}  /* Add a bad border to make them look sort of like tabs. */
.tab.navigation li.selected {background-color: blue;}  /* Styling for the selected tab. */
.tab.navigation li:not(.selected) {background-color: green;}  /* Styling for the non-selected tab. */
.tab.navigation li:not(.selected):hover {background-color: red;}  /* Hover styling for the non-selected tab. */

.navigation-panel {margin: 1em 0 0;}  /* The div of content for each navigation tab. */