{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page_navigation/page_navigation.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='page_navigation/page_navigation.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Styling HTML Lists</h1>
<span class="date">-- --, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<div id="navigation-buttons">
	<div data-navLink="tabs" class="button"><div class="button-content">Tabs</div></div>
	<div data-navLink="buttons" class="button"><div class="button-content">Buttons</div></div>
	<div data-navLink="standard" class="button"><div class="button-content">Standard</div></div>
	<div data-navLink="breadcrumb" class="button"><div class="button-content">Breadcrumb</div></div>
</div>
<br><hr class="divider"><br>
<div id="tabs" class="navigation-panel">
    <p>Should show differences (tabs of fixed size with text wrap, tabs that size to text with no wrap, tabs that size to text but have min and max size)</p>
    <p>Lists with tabs peeking above and hanging below</p>
    <p>4 Lists next to each other (each one taking up 25% of screen): 1) tabs on left horiozontal text 2) tabs on left vertical text 3) tabs right horiz text 4) tabs right vert text</p>
	<p>Vertical list of tabs that slide out on hover</p>
	<p>text-overflow: ellipsis;</p>
</div>
<div id="buttons" class="navigation-panel">
	<h2 class="centered">Fixed Width and Height Buttons</h2>
	<br>
	<div id="button-set-1">
		<div class="button"><div class="button-content">Button 1</div></div>
		<div class="button"><div class="button-content">Button 2</div></div>
		<div class="button"><div class="button-content">Button 3</div></div>
		<div class="button"><div class="button-content">Button 4</div></div>
	</div>
	<br>
	<div class="shrinkwrap-flex">
		<div id="button-set-2">
			<div class="button"><div class="button-content">Button 1</div></div>
			<div class="button"><div class="button-content">Button 2</div></div>
			<div class="button"><div class="button-content">Button 3</div></div>
			<div class="button"><div class="button-content">Button 4</div></div>
		</div>
	</div>
	<br>
	<div class="shrinkwrap-flex">
		<div id="button-set-3">
			<div class="button"><div class="button-content">Button 1</div></div>
			<div class="button"><div class="button-content">Button 2</div></div>
			<div class="button"><div class="button-content">Button 3</div></div>
			<div class="button"><div class="button-content">Button 4</div></div>
		</div>
		<div id="button-set-4">
			<div class="button"><div class="button-content">Button 1</div></div>
			<div class="button"><div class="button-content">Button 2</div></div>
			<div class="button"><div class="button-content">Button 3</div></div>
			<div class="button"><div class="button-content">I Am Really Way To Big To Fit In This Tiny Little Button</div></div>
		</div>
	</div>
	<br><br>
	<h2 class="centered">Flexi Buttons</h2>
	<br>
	<div id="button-set-5">
		<div class="button"><div class="button-content">Tiny</div></div>
		<div class="button"><div class="button-content">Larger</div></div>
		<div class="button"><div class="button-content">Double<br>Height</div></div>
		<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
	</div>
	<br><br>
	<h2 class="centered">Buttons With Individual Fitted Widths And Heights</h2>
	<br>
	<div class="shrinkwrap-flex">
		<div id="button-set-6">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
	</div>
	<br>
	<div class="shrinkwrap-flex">
		<div id="button-set-7">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
		<div id="button-set-8">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
	</div>
	<br><br>
	<h2 class="centered">Buttons With Fixed Widths And Dynamic Equal Heights</h2>
	<br>
	<div class="shrinkwrap-flex">
		<div id="button-set-9">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
	</div>
	<br><br>
	<h2 class="centered">Buttons With Fixed Widths And Individual Fitted Heights</h2>
	<br>
	<div class="shrinkwrap-flex">
		<div id="button-set-12">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
	</div>
	<br>
	<div class="shrinkwrap-flex">
		<div id="button-set-13">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
		<div id="button-set-14">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
	</div>
	<br><br>
	<h2 class="centered">Buttons With Fixed Heights and Dynamic Equal Widths</h2>
	<br>
	<div class="shrinkwrap-flex">
		<div id="button-set-15">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
		<br>
		<div id="button-set-16">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
	</div>
	<br><br>
	<h2 class="centered">Buttons With Fixed Heights and Individual Fitted Widths</h2>
	<br>
	<div class="shrinkwrap-flex">
		<div id="button-set-17">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
		<br>
		<div id="button-set-18">
			<div class="button"><div class="button-content">Tiny</div></div>
			<div class="button"><div class="button-content">Double<br>Height</div></div>
			<div class="button"><div class="button-content">Slightly Larger</div></div>
			<div class="button"><div class="button-content">Really Very Very Long Button</div></div>
		</div>
	</div>
</div>
<div id="standard" class="navigation-panel">
	<div class="centered">
		<h2>Context Menus</h2>
		<p>Windows style (including breaks between sections)</p>
		<p>More stylised ones to fit themes</p>
		<p>Hoizontal and vertical text</p>
		<p>Ones with text wrapping, ones that cut off long text (i.e. cells in menu are fixed size and no wrapping), ones that extend length to max text field length</p>
	</div>
</div>
<div id="breadcrumb" class="navigation-panel">
    <p>Like :   Home >> Products >> Computers</p>
</div>
{% endblock %}