/*
Contents:
_classes		-> general style declarations.
_buttons		-> style declarations for buttons.
_tabs     		-> style declarations for tabs.
*/

/*
_classes
*/
.centered {text-align: center;}
.navigation-panel {margin: 1em 0 0;}  /* The div of content for each navigation tab. */
.shrinkwrap-flex {align-items: center; display: flex; justify-content: center;}  /* Style to shrinkwrap the background to the contents. */

/*
_buttons
*/
.button {cursor: default;}  /* No changing of the cursor when over button content. */

/* Navigation buttons. */
#navigation-buttons {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#navigation-buttons .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#navigation-buttons .button {background-color: rgb(174,45,227); box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); color: white; height: 50px; margin: 0 1em; text-align: center; width: 100px;}  /* Style the buttons. */
#navigation-buttons .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#navigation-buttons .button:hover {background-color: rgb(200,71,253); box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);}  /* Style the buttons when hovered over. */
#navigation-buttons .button.selected {background-color: rgb(200,71,253); box-shadow: 0 4px 8px 0 rgba(0,0,0,.4); font-weight: bold;}  /* Style the selected button. */

/* Fixed Width and Height Buttons. */
/* First button set. */
#button-set-1 {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-1 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-1 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-1 .button {background-color: rgb(255,0,140); color: black; height: 50px; margin: 0 1em; text-align: center; width: 100px;}  /* Style the buttons. */
#button-set-1 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-1 .button:hover {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1);}  /* Style the buttons when hovered over. */
#button-set-1 .button.selected {background-color: rgb(255,0,140); box-shadow: 0px 2px 1px 0 rgba(255,255,255,1), -1px 0px 1px 0 rgba(255,255,255,1), 1px 0px 1px 0 rgba(255,255,255,1), 0px -2px 1px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the selected button. */

/* Second button set. */
#button-set-2 {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-2 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-2 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-2 .button {background-color: black; box-shadow: 0px 2px 2px 0 rgba(255,255,255,1), -1px 0px 2px 0 rgba(255,255,255,1), 1px 0px 2px 0 rgba(255,255,255,1), 0px -2px 2px 0 rgba(255,255,255,1); color: white; height: 50px; margin: 0 1em; text-align: center; width: 100px;}  /* Style the buttons. */
#button-set-2 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-2 .button:hover {box-shadow: 0px 2px 2px 0 rgb(174,45,227), -1px 0px 2px 0 rgb(174,45,227), 1px 0px 2px 0 rgb(174,45,227), 0px -2px 2px 0 rgb(174,45,227);}
#button-set-2 .button.selected {background-color: rgb(174,45,227); box-shadow: 0 0; color: black; font-weight: bold;}

/* Third button set. */
#button-set-3 {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-3 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-3 {margin: 0 1em;}  /* Margin to separate button-set-3 from button-set-4. Not need for the style of the buttons. */
#button-set-3 .button {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-3 .button {background-color: black; box-shadow: 0px 2px 2px 0 rgba(255,255,255,1), -1px 0px 2px 0 rgba(255,255,255,1), 1px 0px 2px 0 rgba(255,255,255,1), 0px -2px 2px 0 rgba(255,255,255,1); color: white; height: 50px; margin: .5em 0; text-align: center; width: 100px;}  /* Style the buttons. */
#button-set-3 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-3 .button:hover {background-color: rgb(0, 255, 123); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1);}
#button-set-3 .button.selected {background-color: rgb(0, 255, 123); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: black; font-weight: bold;}

/* Fourth button set. 
Notes
	Buttons can not be flex
*/
#button-set-4 {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-4 {background-color: white; padding: 1em; border: solid 2px black; border-radius: 5px;}  /* Use black background that surrounds the buttons completely. */
#button-set-4 {margin: 0 1em;}  /* Margin to separate button-set-3 from button-set-4. Not need for the style of the buttons. */
#button-set-4 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-4 .button {background-color: white; border: solid 2px black; border-radius: 5px; box-shadow: 0 2px 5px 0 rgba(0,0,0,.4); height: 50px; margin: .5em 0; text-align: center; width: 100px;}  /* Style the buttons. */
#button-set-4 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-4 .button:hover {box-shadow: 0 6px 10px 0 rgba(0,0,0,.6);}  /* Style the buttons when hovered over. */
#button-set-4 .button.selected {background-color: black; box-shadow: 0 4px 8px 0 rgba(0,0,0,.6); color: white; font-weight: bold;}  /* Style the selected button. */
#button-set-4 .button .button-content {overflow: hidden; text-overflow: ellipsis; white-space:nowrap}  /* Make long button content turn into ellipsis. */

/* Flexi Buttons.

Notes
	Need to have no changes in width between hover and selection, or there will be very slight jiggling when clicking on the button.
*/
/* First button set. */
#button-set-5 {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-5 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-5 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around; flex-grow: 1;}
#button-set-5 .button {background-color: rgb(255,0,140); color: black; margin: 0 1em; padding: 1em; text-align: center;}  /* Style the buttons. */
#button-set-5 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, flex-grow, font-weight;}
#button-set-5 .button:hover {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: white; flex-grow: 3; font-weight: bold;}  /* Style the buttons when hovered over. */
#button-set-5 .button.selected {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: white; flex-grow: 3; font-weight: bold;}  /* Style the selected button. */

/* Fitted Width and Height Buttons.

Notes
	Any changes in width on hover/selection will cause the buttons to move slightly but noticeably.
		This only affects width changes on horizontal buttons, and width changes on shrinkwrapped vertical buttons (where the background will move).
		Therefore, it's best to show highlighting using changes that cause no alterations in button size.
*/
/* First button set. */
#button-set-6 {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-6 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-6 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-6 .button {background-color: rgb(255,0,140); color: black; margin: 0 1em; padding: 1em; text-align: center;}  /* Style the buttons. */
#button-set-6 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-6 .button:hover {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the buttons when hovered over. */
#button-set-6 .button.selected {background-color: rgb(255,0,140); box-shadow: 0px 2px 1px 0 rgba(255,255,255,1), -1px 0px 1px 0 rgba(255,255,255,1), 1px 0px 1px 0 rgba(255,255,255,1), 0px -2px 1px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the selected button. */

/* Second button set. */
#button-set-7 {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-7 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-7 {margin: 0 1em;}  /* Margin to separate button-set-7 from button-set-8. Not need for the style of the buttons. */
#button-set-7 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-7 .button {background-color: rgb(255,0,140); color: black; margin: .5em 0; padding: 1em; text-align: center;}  /* Style the buttons. */
#button-set-7 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-7 .button:hover {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the buttons when hovered over. */
#button-set-7 .button.selected {background-color: rgb(255,0,140); box-shadow: 0px 2px 1px 0 rgba(255,255,255,1), -1px 0px 1px 0 rgba(255,255,255,1), 1px 0px 1px 0 rgba(255,255,255,1), 0px -2px 1px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the selected button. */

/* Third button set. */
#button-set-8 {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-8 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-8 {margin: 0 1em;}  /* Margin to separate button-set-7 from button-set-8. Not need for the style of the buttons. */
#button-set-8 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-8 .button {background-color: rgb(255,0,140); color: black; margin: .5em 0; padding: 1em; text-align: center;}  /* Style the buttons. */
#button-set-8 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-8 .button:hover {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the buttons when hovered over. */
#button-set-8 .button.selected {background-color: rgb(255,0,140); box-shadow: 0px 2px 1px 0 rgba(255,255,255,1), -1px 0px 1px 0 rgba(255,255,255,1), 1px 0px 1px 0 rgba(255,255,255,1), 0px -2px 1px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the selected button. */

/* Fixed Width and Dynamic Equal Height Buttons. */
/* First button set. */
#button-set-9 {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: stretch; align-content: space-around;}
#button-set-9 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-9 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-9 .button {background-color: rgb(255,0,140); color: black; margin: 0 1em; padding: 1em; text-align: center; width: 100px;}  /* Style the buttons. */
#button-set-9 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-9 .button:hover {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the buttons when hovered over. */
#button-set-9 .button.selected {background-color: rgb(255,0,140); box-shadow: 0px 2px 1px 0 rgba(255,255,255,1), -1px 0px 1px 0 rgba(255,255,255,1), 1px 0px 1px 0 rgba(255,255,255,1), 0px -2px 1px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the selected button. */

/* Fixed Width and Individual Fitted Height Buttons. */
/* First button set. */
#button-set-12 {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-12{background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-12 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-12 .button {background-color: rgb(255,0,140); color: black; margin: 0 1em; padding: 1em; text-align: center; width: 100px;}  /* Style the buttons. */
#button-set-12 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-12 .button:hover {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the buttons when hovered over. */
#button-set-12 .button.selected {background-color: rgb(255,0,140); box-shadow: 0px 2px 1px 0 rgba(255,255,255,1), -1px 0px 1px 0 rgba(255,255,255,1), 1px 0px 1px 0 rgba(255,255,255,1), 0px -2px 1px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the selected button. */

/* Fixed Height and Dynamic Equal Width Buttons. */
/* First button set. */
#button-set-15 {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: stretch; align-content: space-around;}
#button-set-15 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-15 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-15 .button {background-color: rgb(255,0,140); color: black; height: 50px; margin: .5em 0; padding: 1em; text-align: center;}  /* Style the buttons. */
#button-set-15 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-15 .button:hover {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the buttons when hovered over. */
#button-set-15 .button.selected {background-color: rgb(255,0,140); box-shadow: 0px 2px 1px 0 rgba(255,255,255,1), -1px 0px 1px 0 rgba(255,255,255,1), 1px 0px 1px 0 rgba(255,255,255,1), 0px -2px 1px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the selected button. */

/* Fixed Height and Individual Fitted Width Buttons. */
/* First button set. */
#button-set-17 {display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-17 {background-color: black; padding: 1em;}  /* Use black background that surrounds the buttons completely. */
#button-set-17 .button {display: inline-flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: space-around;}
#button-set-17 .button {background-color: rgb(255,0,140); color: black; height: 50px; margin: .5em 0; padding: 1em; text-align: center;}  /* Style the buttons. */
#button-set-17 .button {transition: .25s linear transform; transition-property: background-color, box-shadow, color, font-weight;}
#button-set-17 .button:hover {background-color: rgb(255,0,140); box-shadow: 0px 2px 4px 0 rgba(255,255,255,1), -1px 0px 4px 0 rgba(255,255,255,1), 1px 0px 4px 0 rgba(255,255,255,1), 0px -2px 4px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the buttons when hovered over. */
#button-set-17 .button.selected {background-color: rgb(255,0,140); box-shadow: 0px 2px 1px 0 rgba(255,255,255,1), -1px 0px 1px 0 rgba(255,255,255,1), 1px 0px 1px 0 rgba(255,255,255,1), 0px -2px 1px 0 rgba(255,255,255,1); color: white; font-weight: bold;}  /* Style the selected button. */

/*
_tabs
*/