{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousels_1/carousels.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_1/standardCarousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_1/demos.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Carousels Part 1</h1>
<span class="date">December 10, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<h2>Single Item Carousels</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling</h3>
        <svg id="Single-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .isInfinite(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling</h3>
        <svg id="Single-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .isInfinite(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Multiple Item Carousels</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling (Uneven Items Sets)</h3>
        <svg id="Multi-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .isInfinite(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">4</span>)
    .itemsToScrollBy(<span class="number">4</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling</h3>
        <svg id="Multi-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .isInfinite(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">2</span>)
    .itemsToScrollBy(<span class="number">2</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Centered Carousels</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling</h3>
        <svg id="Center-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">false</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">2</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling</h3>
        <svg id="Center-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">true</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">3</span>)
    .itemsToScrollBy(<span class="number">2</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br>
<h2>Variable Item Shape Carousels</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling</h3>
        <svg id="Var-Size-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">false</span>)
    .isCentered(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling</h3>
        <svg id="Var-Size-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">true</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<div>
    <div class="adj">
        <h3 class="centerText">Non-infinite Scrolling</h3>
        <svg id="Var-Shape-Non-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">false</span>)
    .isCentered(<span class="keyword">false</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
    <div class="adj">
        <h3 class="centerText">Infinite Scrolling</h3>
        <svg id="Var-Shape-Inf" />
        <pre class="code inline"><code class="javascript"><span class="keyword">var</span> svg = d3.select(...).append(<span class="string">"svg"</span>);
<span class="keyword">var</span> items = ...  <span class="comment">// Create the items.</span>
<span class="keyword">var</span> carousel = standardCarousel(items)
    ...
    .width(<span class="number">420</span>)
    .isInfinite(<span class="keyword">true</span>)
    .isCentered(<span class="keyword">true</span>)
    .itemsToShow(<span class="number">1</span>)
    .itemsToScrollBy(<span class="number">1</span>)
    ...
svg.call(carousel);</code></pre>
    </div>
</div>
<br><br><br>
<h2>Layout Schematic</h2>
<p>
    Carousel schematic diagram
    .carousel
        .itemContainer - dragging operates on this
            rect.backingRect
            path.scrollPath
            g.item
        .navArrow.left - arrow nav operates on this
            rect
            path
        .navArrow.right - arrow nav operates on this
            rect
            path
        .navDotContainer
            rect
            g.navDot - dot nav operates on these
                rect
                circle
</p>
<svg id="schematic" style="display: block; margin: auto;" />
<script type="text/javascript" src="{{ url_for('static', filename='carousels_1/schematic.js') }}"></script>
<br>
<h2>Usage</h2>
<p>
            description of how it all works
                moving along path
                record all possible sets of items that can be shown
                determine what needs to be done to get the desired set in view
</p>
<br>
<h2>Items</h2>
<p>
    The items supplied to the carousel will be moved from their current location in the DOM, so that they have the itemContainer class
    within the carousel as their parent. The items will also have a clip path added to them. this clip path is unique to each item
    and ensures that the item is only visible within the boundaries of the carousel. The items can be of any shape, provided that the
    width and height specified for each item correctly encompasses the item.
</p>
<p>
    The items need four data properties to be defined by the user before they are added to the carousel:
    <ul>
        <li>height - the height of the item</li>
        <li>key - an identifier with a unique value for each item</li>
        <li>rootID - the root of the ID used to define individual clip paths (can be any string)</li>
        <li>width - the width of the item</li>
    </ul>
    <br>
    They will also get four new data properties added to them in the process of being added to the carousel:
    <br><br>
    <ul>
        <li>distAlongPath - the distance along the scroll path of the left edge of the item</li>
        <li>resting - the distance along the path of the resting position of the item</li>
        <li>transX - the X coordinate of the top left corner of the item in relation to the top left corner of the carousel</li>
        <li>transX - the Y coordinate of the top left corner of the item in relation to the top left corner of the carousel</li>
    </ul>
</p>
<br>
<h2>Notes</h2>
<ul>
    <li>The carousel can be scrolled by dragging it or clicking on the navigation arrows/dots.</li>
    <li>Swipe behaviour can easily be added if needed (simply co-opt the dragging behaviour).</li>
    <li>If providing a width for the carousel, then you need to ensure that carousel is not wide enough to accommodate all items.</li>
    <li>
        As it stands, the items will overlap the portion of the carousel's stroke that lies inside the boundary of the carousel.
        This can be avoided by altering the items' clip paths to account for the width of the boundary stroke.
    </li>
    <li>Any event handlers defined for the item by the user will still be active while the item is in the carousel.</li>
    <li>With centered items, it's best to manually define the carousel width, as otherwise the automatic width calculated makes it difficult to tell that the items are centered.</li>
    <li>Navigation arrows can be altered to any desired shape or style after the carousel is created, but if the navArrowWidth and/or navArrowHeight don't fully fit the new shape, then clicking on it will be more fiddly.</li>
    <li>Navigation dots can be altered to any desired shape or style after the carousel is created, but if the navDotRadius doesn't fully fit the new shape, then clicking on it will be more fiddly.</li>
</ul>
{% endblock %}