{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pong_clone/pong_clone.css') }}">
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Pong</h1>
<span class="date">-- --, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
DEAL WITH HITTING THE TOP OF THE PADDLE
<script type="text/javascript" src="{{ url_for('static', filename='pong_clone/pong_clone.js') }}"></script>
{% endblock %}