/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_classes    -> style declarations for specific classes.
*/

/*
_element
*/
svg {background: black; display: block; margin: 0 auto; outline: 1px solid black;}

/*
_classes
*/
svg .ball {fill: #AE2DE3; stroke: none;}  /* Style for the ball. */
svg .divider {stroke: white; stroke-width: 2px;}  /* Style for the half court line. */
svg .paddle {fill: #FF008C; stroke: none;}  /* Style for the paddles. */