/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_classes    -> style declarations for specific classes.
*/

/*
_element
*/
svg {background: black; cursor: default; display: block; margin: 0 auto;}  /* Style and center the game field, and always keep the cursor as a pointer. */
svg:focus {outline: none;}  /* Remove the outline from the SVG element when it gets focus.

/*
_classes
*/
svg .eye {fill: black;}  /* Styling for the eyes. */
svg .gameOver {alignment-baseline: middle; fill: white; text-anchor: middle;}  /* Style for the game over text. */
svg .mouth {fill: none; stroke: black; stroke-width: 2px;}  /* Styling for the mouth. */
svg .playerContainer {fill: white; stroke: none;}  /* Styling for the player. */
svg .retry {fill: white;}  /* The retry button. */
svg .retryText {alignment-baseline: middle; font-weight: bold; pointer-events: none; text-anchor: middle;}  /* Style for the retry text. */
svg .sadFace {fill: skyblue;}  /* Styling for the sad face. */
svg .splash {alignment-baseline: middle; fill: white; text-anchor: middle;}  /* Style for the splash screen text. */
svg .start {fill: white;}  /* The start button. */
svg .startText {alignment-baseline: middle; font-weight: bold; pointer-events: none; text-anchor: middle;}  /* Style for the start button text. */