/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_classes    -> style declarations for specific classes.
*/

/*
_element
*/
svg {background: black; display: block; margin: 0 auto;}
svg {outline: thin solid #3A3A3B;}

/*
_classes
*/
svg .eye {fill: black;}  /* Styling for the eyes. */
svg .happyFace {fill: yellow;}  /* Styling for the happy face. */
svg .mouth {fill: none; stroke: black; stroke-width: 2px;}  /* Styling for the mouth. */
svg .pill {}  /* Styling for the pill projectile. */
svg .sadFace {fill: skyblue;}  /* Styling for the sad face. */