/*
Contents:
_element    -> style declarations for all elements of a given type (html, body, table, all p tags etc.).
_classes    -> style declarations for specific classes.
_carousel   -> style declarations for the carousel itself.
_carousel_navArrow		-> style declarations for the navigation arrows.
*/

/*
_element
*/
h3 {margin: 1em 0;}
h4 {margin: 1em 0;}

/*
_classes
*/
.adj {display: inline-block;}  /* Class to display elements adjacent to one another. */
.centerText {text-align: center;}  /* Class to center text. */
.code.inline {margin: 1em;}  /* Styling to bring the code blocks in line with the demos. */
.unselectable {-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}  /* Prevent the user selecting text. */

/*
_carousel
*/
.carousel {cursor: default; fill: #585858; fill-opacity: 1; stroke: none;}  /* Style the carousel. */
.scrollPath {fill: none; stroke: none;}  /* Style declarations for the path along which the items are scrolled. */

/*
_carousel_navArrow
*/
.navArrow  {opacity: 0; fill: white;}  /* The default style of the navigation arrows is to be invisible. */
.navArrow.inactive {cursor: default; pointer-events: none;}  /* Style the inactive arrows. */
.navArrow.visible {opacity: .8;}  /* The navigation arrows should be slightly visible when the carousel is rolled over. */
.navArrow.visible.inactive  {opacity: .3;}  /* The navigation arrows should be barely visible when unusable. */
.navArrow.highlight {opacity: 1; cursor: pointer;}  /* When hovered over the navigation arrows should be fully visible. */
.navArrow.highlight.inactive {opacity: .3;}  /* When hovered over, an inactive navigation arrows should barely be visible. */
.navArrow rect {opacity: 0; stroke: none;}  /* Style the rectangle that catches events. */
.navArrow path {stroke: none;}  /* Style the arrow itself. */