{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousels_2/carousels.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_2/draggableItemCarousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_2/dragAndDropCarousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_2/demos.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Carousels Part 2</h1>
<span class="date">December 30, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<h2>Individually Draggable Items</h2>
<br>
<div>
    <div class="adj">
        <h3 class="centerText">Uniform Shapes and Sizes</h3>
        <svg id="Indiv-Non-Var" />
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Shapes and Sizes</h3>
        <svg id="Indiv-Var" />
    </div>
</div>
<div>
    <div class="adj">
        <h3 class="centerText">Uniform Shapes and Sizes</h3>
        <svg id="Indiv-Non-Var-Non-Inf" />
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Shapes and Sizes</h3>
        <svg id="Indiv-Var-Non-Inf" />
    </div>
</div>
<br><br><br>
<h2>Drag and Drop Carousels</h2>
<br>
<svg id="Drag-Drop-Var" style="display:block; margin: auto;">
<br><br><br>
<h2>Layout Schematic</h2>
<p>
    Carousel schematic diagram
    .carousel
        .itemContainer - dragging operates on this
            rect.backingRect
            path.scrollPath
            g.item
        .navArrow.left - arrow nav operates on this
            rect
            path
        .navArrow.right - arrow nav operates on this
            rect
            path
</p>
<br>
<h2>Usage</h2>
<p>
    Items only need the following entries in their data objects
                "height": 100,  // Height of the item.
                "key": i,  // Unique identifier for the item.
                "rootID": svgID,  // The root of the ID used to refer to the item clip paths.
                "width": itemWidth  // Width of the item.
</p>
<p>
    items get added data field - transX, transY, distAlongPath, resting<br>
    swipe behaviour can be easily added if needed (should work just like dragging)<br>
    items passed in will be moved to be under the carousel, not have whatever they currently have as a parent.<br>
    Need to ensure that carousel is not wide enough to accommodate all items<br>
    can drag, click on arrows to move carousel<br>
    navigation arrow can be changed to anything, but need to make sure that the arrow width/height will accommodate the new shape, or clicking will be more fiddly<br>
        Say that events will trigger on items in carousel
            for indiv carousel can either create the handlers in such a way that they only fire outside the carousel or
                can create functions to save ad remove the handlers when the items are added, and then restore them again when the items are moved out of the carousel
                just need to make sure that there are no handlers that interfere with the dragging of the items themselves<br>
    Note that you can have any shaped items for the drag and drop ones<br>
    The carousel does not care about the shape of the items, its just places and manipulates them
            The items can be any shape, provided the height and width given accurately capture the items height and width<br>
</p>
{% endblock %}