{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousels_2/carousels.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_2/draggableItemCarousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_2/dragAndDropCarousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_2/demos.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Carousels</h1>
<span class="date">-- --, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<p>
    Carousel schematic diagram
    .carousel
        .itemContainer - dragging operates on this
            rect.backingRect
            path.scrollPath
            g.item
        .navArrow.left - arrow nav operates on this
            rect
            path
        .navArrow.right - arrow nav operates on this
            rect
            path
</p>
<p>
    Each item must be the same shape (only needed so tat the clipping works properly when items are being dragged and scrolled in).
    Here they must all be rectangles, with the width and height of the rects defined as width and height in their data object.
    The rectangles can be defined as <rect> or <path>, either is fine so long as they meet the width and height requirements.
    It's fairly easy to change the required shape, or to add more in, simply by changing the data object requirements and the clip generating function.
</p>
<p>
    Parameter options and what they do
</p>
<p>
    items get added data field - transX, transY, distAlongPath, resting<br>
    swipe behaviour can be easily added if needed (should work just like dragging)<br>
    items passed in will be moved to be under the carousel, not have whatever they currently have as a parent.<br>
    Need to ensure that carousel is not wide enough to accommodate all items<br>
    can drag, click on arrows to move carousel<br>
    clip paths are added (with an id) to eac item to clip them to the carousel<br>
    The carousel does not care about the shape of the items, its just places and manipulates them
            The items can be any shape, provided the height and width given accurately capture the items height and width<br>
    navigation arrow can be changed to anything, but need to make sure that the arrow width/height will accommodate the new shape, or clicking will be more fiddly
</p>
<br>
<h2>Individually Draggable Items</h2>
<div>
    <div class="adj">
        <h3 class="centerText">Uniform Shapes and Sizes</h3>
        <svg id="Indiv-Non-Var" />
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Shapes and Sizes</h3>
        <svg id="Indiv-Var" />
    </div>
</div>
<div>
    <div class="adj">
        <h3 class="centerText">Uniform Shapes and Sizes</h3>
        <svg id="Indiv-Non-Var-Non-Inf" />
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Shapes and Sizes</h3>
        <svg id="Indiv-Var-Non-Inf" />
    </div>
</div>
<br>
<h2>Drag and Drop Carousels</h2>
<br>
<p>
        Note that you can have any shaped items for the drag and drop ones
        comment that overlapping of the border of the carousel element can be handled in the clipping by taking into account the border width
            as the stroke goes half inside object and half outside ned to alter the clipping
</p>
<br>
<svg id="Drag-Drop-Var" style="display:block; margin: auto;">
{% endblock %}