{% extends "home.html" %}

{% block head %}
<!--Block for including page specific CSS and JS files within the <head> tag.-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='carousels_2/carousels.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jQuery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_2/draggableItemCarousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_2/dragAndDropCarousels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='carousels_2/demos.js') }}"></script>
{% endblock %}

{% block header %}
<!--Block for including page specific header information (e.g. page title) within the <header> tag.-->
<h1 class="pageTitle">Carousels Part 2</h1>
<span class="date">December 30, 2014</span>
{% endblock %}

{% block content %}
<!--Block for including the content of the page within the div.content tag.-->
<h2>Carousels with Individually Draggable Items</h2>
<div class="unselectable">
    <div class="adj">
        <h3 class="centerText">Uniform Shapes and Sizes</h3>
        <h4 class="centerText">Infinite Scrolling</h4>
        <svg id="Indiv-Non-Var" />
    </div>
    <div class="adj">
        <h3 class="centerText">Variable Shapes and Sizes</h3>
        <h4 class="centerText">Infinite Scrolling</h4>
        <svg id="Indiv-Var" />
    </div>
</div>
<div class="unselectable">
    <div class="adj">
        <h4 class="centerText">Non-infinite Scrolling</h4>
        <svg id="Indiv-Non-Var-Non-Inf" />
    </div>
    <div class="adj">
        <h4 class="centerText">Non-infinite Scrolling</h4>
        <svg id="Indiv-Var-Non-Inf" />
    </div>
</div>
<br><br><br>
<h2>Drag and Drop Carousels</h2>
<p>Release dragged items outside of the carousel to pin them to the surrounding SVG. Drag these pinned items back into the carousel to delete them.</p>
<br>
<svg id="Drag-Drop-Var" style="display: block; margin: auto;" />
<br><br><br>
<h2>Layout Schematic</h2>
<p>The basic layout of the carousel is:</p>
<svg id="schematic" style="display: block; margin: auto;" />
<script type="text/javascript" src="{{ url_for('static', filename='carousels_2/schematic.js') }}"></script>
<p>The hierarchical layout in the DOM is:</p>
<ul>
    <li>g.carousel
        <ul>
            <li>g.itemContainer
                <ul>
                    <li>rect.backingRect</li>
                    <li>path.scrollPath</li>
                    <li>g.item (dragging operates on these)</li>
                    ...
                    <li>g.item (dragging operates on these)</li>
                </ul>
            </li>
            <li>g.navArrow.left (arrow navigation operates on this)
                <ul>
                    <li>rect</li>
                    <li>path</li>
                </ul>
            </li>
            <li>g.navArrow.right (arrow navigation operates on this)
                <ul>
                    <li>rect</li>
                    <li>path</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<br>
<h2>Items</h2>
<p>
    The items supplied to the carousel will be moved from their current location in the DOM, so that they have the itemContainer class
    within the carousel as their parent. The items will also have a clip path added to them. This clip path is unique to each item,
    and ensures that the item is only visible within the boundaries of the carousel. The items can be of any shape, provided that the
    width and height specified for each item correctly encompasses the item.
</p>
<p>
    Each item is assigned a current position and a resting position along the scrollPath path.
    The current position determines where the item is at any given moment, while the resting position determines where the item should snap back
    to once the carousel stops moving.
    The carousel rotates by moving the items along this path, with both the current and resting positions of each item updated as the carousel moves.
</p>
<p>
    The items need four data properties to be defined by the user before they are added to the carousel:
    <ul>
        <li>height - the height of the item</li>
        <li>key - an identifier with a unique value for each item</li>
        <li>rootID - the root of the ID used to define individual clip paths (can be any string)</li>
        <li>width - the width of the item</li>
    </ul>
    <br>
    They will also get four new data properties during the process of being added to the carousel:
    <br><br>
    <ul>
        <li>distAlongPath - the distance along the scroll path of the left edge of the item</li>
        <li>resting - the distance along the path of the resting position of the item</li>
        <li>transX - the X coordinate of the top left corner of the item in relation to the top left corner of the carousel</li>
        <li>transX - the Y coordinate of the top left corner of the item in relation to the top left corner of the carousel</li>
    </ul>
</p>
<br>
<h2>Notes</h2>
<ul>
    <li>The carousel can be scrolled by dragging an item to the edge of it, or by licking on the navigation arrows.</li>
    <li>Naivgation arrows can be double clicked in order to scroll an entire new set of items into view.</li>
    <li>Swipe behaviour can easily be added if needed (simply co-opt the dragging behaviour).</li>
    <li>Dragged items are kept on top of all other items by removing them from the DOM and then adding them back into the carousel.</li>
    <li>If providing a width for the carousel, then you need to ensure that the carousel is not wide enough to accommodate all the items.</li>
    <li>
        As it stands, the items will overlap the portion of the carousel's stroke that lies inside the boundary of the carousel.
        This can be avoided by altering the items' clip paths to account for the width of this stroke.
    </li>
    <li>
        Any event handlers defined for the items by the user will still be active while the item is in the carousel.
        One way of getting around this is to alter the code of the carousel so that handlers are removed from the items when they are added to the carousel
        (and for drag and drop carousels, potentially added back when items are dragged outside the carousel).
    </li>
    <li>
        Navigation arrows can be altered to take any desired shape or style after the carousel is created, but if the navArrowWidth and/or
        navArrowHeight don't fully contain the new shape, then clicking on it will be more fiddly.
    </li>
    <li>Infinite scrolling carousels are always centered, non-infinite ones are always left aligned. This can easily be altered if needed.</li>
</ul>
{% endblock %}